$mobile-size:668px;
$tablet-size:1024px;
$site-width:1180px;

$black-tit:#222;
$black-body:#555;
$brown:#6e6059;
$orange:#f36633;
$orange-hard:#d24a1a;


$light:300;
$regular:400;
$medium:500;
$bold:700;

$font-ko:'Open Sans', 'Noto Sans KR',sans-serif;