<%
let gnb = locals.require('gnb.json')
var page = 'mypage'
let sub = '회원정보 관리'
let heading = (sub == '') ? gnb[page].title.ko : sub
        -%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<%- locals.widget('_page-header.ejs', {title: gnb[page].title.ko}) %>
<%- locals.widget('_tab.ejs', {list: gnb[page].children}) %>

<div class="u-content-title-wrap u-content-title-wrap--next">
  <h1 class="u-content-title"><%- heading %></h1>
</div>

<table class="u-table u-table--mobile-vertical">
  <tbody>
    <tr>
      <th class="u-table__th">코드번호</th>
      <td class="u-table__td">123124321412</td>
    </tr>
    <tr>
      <th class="u-table__th">이름</th>
      <td class="u-table__td">홍길동</td>
    </tr>
    <tr>
      <th class="u-table__th">연락처</th>
      <td class="u-table__td">
        <div class="u-table__form">
          <div class="u-form-group mypage-form-group">
            <span class="u-form-group__item"><input type="number" pattern="[0-9]*" data-numeric-input name="" id="" class="u-input-text u-input-text--w-100p" maxlength="3" title="연락처 첫번째 자리" value="010"></span>
            <span class="u-form-group__item u-form-group__item--min">-</span>
            <span class="u-form-group__item"><input type="number" pattern="[0-9]*" data-numeric-input name="" id="" class="u-input-text u-input-text--w-100p" maxlength="4" title="연락처 두번째 자리" value="1234"></span>
            <span class="u-form-group__item u-form-group__item--min">-</span>
            <span class="u-form-group__item"><input type="number" pattern="[0-9]*" data-numeric-input name="" id="" class="u-input-text u-input-text--w-100p" maxlength="4" title="연락처 세번째 자리" value="4234"></span>
          </div>
          <!-- //form-group -->
        </div>
      </td>
    </tr>
    <tr>
      <th class="u-table__th">이메일</th>
      <td class="u-table__td">
        <div class="u-table__form">
          <div class="u-form-group mypage-form-group">
            <span class="u-form-group__item"><input type="email" id="" class="u-input-text u-input-text--w-100p" title="이메일" value="wefafaesfa@naver.com"></span>
          </div>
          <!-- //form-group -->
        </div>
      </td>
    </tr>
    <tr>
      <th class="u-table__th">주소</th>
      <td class="u-table__td">
        <div class="u-table__form">
          <div class="u-form-group mypage-form-group">
            <span class="u-form-group__item"><input type="number" pattern="[0-9]*" data-numeric-input name="" id="" class="u-input-text u-input-text--w-100p" readonly title="우편번호" value="12343"></span>
            <span class="u-form-group__item u-form-group__item--fixed"><a href="" role="button" class="u-input-button u-input-button--postal-code">우편번호찾기</a></span>
          </div>
          <!-- //form-group -->
          <div class="u-form-group u-form-group--next u-form-group--mobile-vertical">
            <span class="u-form-group__item mypage-form-group"><input type="text" id="" class="u-input-text u-input-text--w-100p" readonly title="자동 등록 주소" value="서울시 성동구 지봉로"></span>
            <span class="u-form-group__item"><input type="text" id="" class="u-input-text u-input-text--w-100p" title="직접 입력주소" value="아파트 101동 403호"></span>
          </div>
          <!-- //form-group -->
        </div>
      </td>
    </tr>
    <tr>
      <th class="u-table__th">병원명</th>
      <td class="u-table__td">
        <div class="u-table__form">
          <div class="u-form-group mypage-form-group">
            <span class="u-form-group__item"><input type="email" id="" class="u-input-text u-input-text--w-100p" title="병원명" value="GSK"></span>
          </div>
          <!-- //form-group -->
        </div>
      </td>
    </tr>
    <tr>
      <th class="u-table__th">직책</th>
      <td class="u-table__td">
        <div class="u-table__form">
          <div class="u-form-group mypage-form-group">
            <span class="u-form-group__item"><input type="email" id="" class="u-input-text u-input-text--w-100p" title="직책" value="과장"></span>
          </div>
          <!-- //form-group -->
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!-- //u-table -->

<div class="u-btn-group u-btn-group--mobile-expansion u-btn-group--next">
  <div class="u-btn-group__item"><a href="<%- gnb[page].children['회원정보 관리'].link %>.html" class="u-btn">취소</a></div>
  <div class="u-btn-group__item"><a href="<%- gnb[page].children['회원정보 관리'].link %>.html" class="u-btn u-btn--orange">완료</a></div>
</div>