<%
let gnb = locals.require('gnb.json')
var page = 'mypage'
let sub = '회원정보 관리'
let heading = (sub == '') ? gnb[page].title.ko : sub
        -%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<%- locals.widget('_page-header.ejs', {title: gnb[page].title.ko}) %>
<%- locals.widget('_tab.ejs', {list: gnb[page].children}) %>

<div class="u-content-title-wrap u-content-title-wrap--next">
  <h1 class="u-content-title"><%- heading %></h1>
</div>

<table class="u-table">
  <tbody>
    <tr>
      <th class="u-table__th">코드번호</th>
      <td class="u-table__td access-code">23124321412</td><!-- //20180323 -->
    </tr>
    <tr>
      <th class="u-table__th">이름</th>
      <td class="u-table__td">홍길동</td>
    </tr>
    <tr>
      <th class="u-table__th">연락처</th>
      <td class="u-table__td">010-2323-4343</td>
    </tr>
    <tr>
      <th class="u-table__th">이메일</th>
      <td class="u-table__td">asdfasfasd@naver.com</td>
    </tr>
    <tr>
      <th class="u-table__th">주소</th>
      <td class="u-table__td">[12223] 서울 중구 동호로 <br> ㅇㅇ 빌딩 3층</td>
    </tr>
    <tr>
      <th class="u-table__th">병원명</th>
      <td class="u-table__td">GSK</td>
    </tr>
    <tr>
      <th class="u-table__th">직책</th>
      <td class="u-table__td">과장</td>
    </tr>
  </tbody>
</table>
<!-- //u-table -->

<div class="u-btn-group u-btn-group--mobile-expansion u-btn-group--next">
  <div class="u-btn-group__item"><a href="<%- gnb[page].children['회원정보 관리-수정'].link %>.html" class="u-btn">수정</a></div>
</div>