<%
let gnb = locals.require('gnb.json')
var page = 'mypage'
let sub = '예약내역'
let heading = (sub == '') ? gnb[page].title.ko : sub -%>

<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<%- locals.widget('_page-header.ejs', {title: gnb[page].title.ko}) %>
<%- locals.widget('_tab.ejs', {list: gnb[page].children}) %>

<div class="u-content-title-wrap u-content-title-wrap--next">
  <h1 class="u-content-title"><%- heading %></h1>
  <div class="u-content-desc">항목을 선택하시면 신청하신 예약에 대한 상세내용을 확인 하실 수 있습니다.<br>화상강의로 예약을 하셨을 경우, <strong class="u-content-desc__text-bold">상세내용에서 화상강의</strong>를 누르시면 바로 연결 됩니다</div>
</div>

<ul class="u-accordion-list">
  <% for (var i=10;i>0;i--) { %>
  <li class="u-accordion-list__item">
    <div class="u-accordion-list__header js-accordion-button">
      <dl class="reservation-head">
        <dt class="reservation-head__terms">글번호</dt>
        <dd class="reservation-head__describes reservation-head__describes--num"><%- i %></dd>
        <dt class="reservation-head__terms">상태</dt>
        <% if (i%3) { %>
        <dd class="reservation-head__describes reservation-head__describes--state"><span class="reservation-label reservation-label--orange">진행대기</span></dd>
        <% } else {  -%>
        <dd class="reservation-head__describes reservation-head__describes--state"><span class="reservation-label reservation-label--fill">진행완료</span></dd>
        <% } -%>
        <dt class="reservation-head__terms">날짜 및 시간</dt>
        <dd class="reservation-head__describes reservation-head__describes--date">2018-03-20 &nbsp; 13:30</dd>
        <dt class="reservation-head__terms">상담구분</dt>
        <dd class="reservation-head__describes reservation-head__describes--type">화상강의</dd>
      </dl>
      <!-- //reservation-head -->
    </div>
    <div class="u-accordion-list__body js-accordion-body">
      <dl class="reservation-body">
        <dt class="reservation-body__terms">제품</dt>
        <dd class="reservation-body__describes">발트렉스</dd>
        <dt class="reservation-body__terms">이름</dt>
        <dd class="reservation-body__describes">홍길동</dd>
        <dt class="reservation-body__terms">연락처</dt>
        <dd class="reservation-body__describes">010-1234-2344</dd>
        <dt class="reservation-body__terms reservation-body__terms--hide">내용</dt>
        <dd class="reservation-body__describes reservation-body__describes--full">
          A_Product 에 대해 조금더 알고싶습니다.<br>
          A_Product 에 대해 조금더 알고싶습니다.<br>
          A_Product 에 대해 조금더 알고싶습니다.
        </dd>
      </dl>
      <!-- //reservation-body -->
      <% if (i%3) { %>
      <div class="reservation-btn-group">
        <a href="https://gsk.acms.com/medicall" target="_blank" role="button" class="reservation-btn reservation-btn--lecture">화상강의</a>
        <a href="../reservation/<%- gnb.reservation.link %>.html" role="button" class="reservation-btn reservation-btn--change">예약변경</a>
        <a href="" role="button" class="reservation-btn reservation-btn--cancel">예약취소</a>
      </div>
      <!-- //reservation-btn-group -->
      <% } -%>
    </div>
  </li>
  <% } -%>
</ul>
<!-- //u-accordion-list -->
  
<%- locals.widget('_pagination.ejs', {option:'u-pagination--next'}) %>