<%
let gnb = locals.require('gnb.json')
var page = 'mypage'
let sub = '예약내역'
let heading = (sub == '') ? gnb[page].title.ko : sub -%>

<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') -%>

<%- locals.widget('_page-header.ejs', {title: gnb[page].title.ko}) %>

<%- locals.widget('_tab.ejs', {list: gnb[page].children}) %>

<div class="u-content-title-wrap u-content-title-wrap--next">
  <h1 class="u-content-title"><%- heading %></h1>
  <div class="u-content-desc">항목을 선택하시면 신청하신 예약에 대한 상세내용을 확인 하실 수 있습니다.<br>화상강의로 예약을 하셨을 경우, <strong class="u-content-desc__text-bold">상세내용에서 화상강의</strong>를 누르시면 바로 연결 됩니다</div>
</div>

<ul class="u-accordion-list">
  <li class="u-accordion-list__item u-accordion-list__item--empty">
    등록된 예약 내역이 없습니다.
  </li>
</ul>
<!-- //u-accordion-list -->
  
<%- locals.widget('_pagination.ejs', {option:'u-pagination--next'}) %>