// Word Wrap
.inline-block { display:inline-block; white-space:nowrap; }

// Pointer event
a[href^="tel"] { cursor: default; pointer-events: none;
  @media (max-width: $tablet-size){
    pointer-events: auto;
  }
}

.u-desktop-br { 
  @media (max-width: $tablet-size){
    display:none; 
  }
}