.dimmed { display:none; z-index:998; position:fixed; top:0; right:0; bottom:0; left:0; background: url(../images/blank/black-50.png); }

.layer-popup { display:none; z-index:1000; position:fixed; top:0; left:0; right:0; height:100%; text-align: center; font-size:0; white-space: nowrap;/*  max-height:100%; */
  &:before,
  &:after { display:inline-block; height:100%; content:''; vertical-align: middle; }
  &__wrap { display:inline-block; width:720px; max-height:100%; overflow-y: auto; vertical-align: middle; font-size:16px; background-color: #fff; color:$black-tit; white-space: normal; }
  &__inner { box-sizing: border-box; width:100%; height:100%; }
  &__head { position:relative; height:60px; overflow: hidden; box-sizing: border-box; background-color: $black-tit; }
  &__title { display:table-cell; width:1%; height:inherit; margin:0; text-align: center; font-size:24px; vertical-align: middle; font-weight: $regular; color:#fff; }
  &__close { display:inline-block; position:absolute; right:17px; top:18px; width:23px; height:23px; vertical-align: middle; font-size:0;
    &-icon { display: inline-block; position: relative; margin:0; padding: 0; width: 1px; height: 23px; background-color:#fff; transform: rotate(45deg);
      &:before { display: block; content: ''; position: absolute; top: 11px; left: -11px; width: 23px; height: 1px; margin-top: 0; background-color:#fff; }
    }
  }
  
  &__body { padding:36px 30px 40px; text-align: left; }
  @media only screen and (max-width:$tablet-size){ left:15px; right:15px;
    &:before,
    &:after { /* display:none; */ }
    &__wrap { max-width:100%; }
    &__inner {  }
    &__head { height:40px; padding-top:5px; padding-bottom:5px; }
    &__title { height:30px; font-size:16px; }
    &__close { width:40px; height:40px; right:0; top:0; box-sizing: border-box; padding:10px;
      &-icon { width: 1px; height: 19px;
        &:before { left: -9px; margin-top:-2px; width: 19px; }
      }
    }
    &__body { padding:20px 15px 30px; }
  }
}