<%
let gnb = locals.require('gnb.json')
var page = 'reservation'
let sub = '상담 예약'
let heading = (sub == '') ? gnb[page].title.ko : sub
        -%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>
<% locals.block('link','<link rel="stylesheet" href="../../libs/fullcalendar/css/fullcalendar.min.css">','append') %>
<% locals.block('footerScript','<script src="../../libs/moment/moment.min.js"></script>','append') %>
<% locals.block('footerScript','<script src="../../libs/fullcalendar/js/fullcalendar.js"></script>','append') %>
<% locals.block('footerScript','<script src="../../js/reservation.js"></script>','append') %>

<%- locals.widget('_page-header.ejs', {title: gnb[page].title.ko}) %>

<div class="u-content-title-wrap">
  <h1 class="u-content-title"><%- gnb[page].title.ko %></h1>
  <div class="u-content-desc">날짜를 선택하시면 원하는 시간을 선택하실 수 있습니다.</div>
</div>

<div class="reservation-wrap">
  <div id="calendar" class="calendar"></div>
  <div class="detail-setting">
    <div class="detail-setting__item">
      <div class="detail-setting__title">제품선택</div>
      <div class="detail-setting__desc">정보가 필요하신 제품을 선택해주세요.</div>
      <div class="select-type">
        <span class="select-type__wrap2">
          <input type="radio" name="a" id="a1" class="select-type__radio" value="발트렉스" disabled>
          <label class="select-type__label" for="a1">발트렉스<br><span class="select-type__font-sm">(발라시클로비르염산염)</span></label>
        </span>
        <!-- edit 180725 아바미스 괄호문구수정 -->
        <span class="select-type__wrap2">
          <input type="radio" name="a" id="a2" class="select-type__radio" value="아바미스" checked>
          <label class="select-type__label" for="a2">아바미스<br><span class="select-type__font-sm">(미분화플루티카손푸로에이트)</span></label>
        </span>
        <!-- //edit 180725 아바미스 괄호문구수정 -->
        <!-- add 180725 아보다트 추가 -->
        <span class="select-type__wrap2 select-type__wrap2--next">
          <input type="radio" name="a" id="a2" class="select-type__radio" value="아보다트" disabled>
          <label class="select-type__label" for="a2">아보다트<br><span class="select-type__font-sm">(두타스테리드)</span></label>
        </span>
        <!-- //add 180725 아보다트 추가 -->
      </div>
    </div>
    <div class="detail-setting__item">
      <div class="detail-setting__title">타입선택</div>
      <div class="detail-setting__desc">진행방법을 선택해주세요.</div>
      <div class="select-type">
        <span class="select-type__wrap">
          <input type="radio" name="b" id="b1" class="select-type__radio" value="전화" checked>
          <label class="select-type__label" for="b1">전화</label>
        </span>
        <span class="select-type__wrap">
          <input type="radio" name="b" id="b2" class="select-type__radio" value="화상강의">
          <label class="select-type__label" for="b2">화상강의</label>
        </span>
      </div>
    </div>
    <div class="detail-setting__item">
      <div class="detail-setting__title">문의내용(선택사항)</div>
      <div class="detail-setting__desc">담당자에게 문의하실 내용이 있으신 경우 작성해주세요.</div>
      <textarea class="detail-setting__textarea" name="" id="" cols="30" rows="10" placeholder="문의내용 입력"></textarea>
    </div>
  </div>
</div>
<div class="u-btn-group u-btn-group--next u-btn-group--mobile-expansion">
  <div class="u-btn-group__item">
    <a href="<%- gnb[page].children['예약신청 내용 확인'].link %>.html" class="u-btn">다음</a>
  </div>
</div>

<!-- 시작 시간 선택 팝업 -->
<div class="layer-popup" id="layer-popup-a">
  <div class="layer-popup__wrap">
    <div class="layer-popup__inner">
      <div class="layer-popup__head">
        <h2 class="layer-popup__title">시작 시간 선택</h2>
        <a href="#layer-popup-a" class="layer-popup__close" onclick="closeLayerPopup(this)"><i class="layer-popup__close-icon"></i>팝업 닫기 버튼</a>
      </div>
      <div class="layer-popup__body">
        <div class="time-content">
          <div class="time-content__header">
            <div class="time-content__date">2018-03-20</div>
            <div class="time-content__info">
              <span class="time-info-item time-info-item--able">예약가능</span>
              <span class="time-info-item time-info-item--unable">예약불가</span>
            </div>
          </div>
          <div class="time-content__body">
            <div class="item-align-justify">
              <div class="time-selector">
                <input type="radio" name="c" id="c1" class="time-selector__radio" disabled>
                <label class="time-selector__label" for="c1">09:00</label>
              </div>
              <div class="time-selector">
                <input type="radio" name="c" id="c2" class="time-selector__radio">
                <label class="time-selector__label" for="c2">09:30</label>
              </div>
              <div class="time-selector">
                <input type="radio" name="c" id="c3" class="time-selector__radio" disabled>
                <label class="time-selector__label" for="c3">10:00</label>
              </div>
              <div class="time-selector">
                <input type="radio" name="c" id="c4" class="time-selector__radio" disabled>
                <label class="time-selector__label" for="c4">10:30</label>
              </div>
              <div class="time-selector">
                <input type="radio" name="c" id="c5" class="time-selector__radio">
                <label class="time-selector__label" for="c5">11:00</label>
              </div>
              <div class="time-selector">
                <input type="radio" name="c" id="c6" class="time-selector__radio">
                <label class="time-selector__label" for="c6">11:30</label>
              </div>
              <div class="time-selector">
                <input type="radio" name="c" id="c7" class="time-selector__radio">
                <label class="time-selector__label" for="c7">13:00</label>
              </div>
              <div class="time-selector">
                <input type="radio" name="c" id="c8" class="time-selector__radio" disabled>
                <label class="time-selector__label" for="c8">13:30</label>
              </div>
              <div class="time-selector">
                <input type="radio" name="c" id="c9" class="time-selector__radio">
                <label class="time-selector__label" for="c9">14:00</label>
              </div>
              <div class="time-selector">
                <input type="radio" name="c" id="c10" class="time-selector__radio">
                <label class="time-selector__label" for="c10">14:30</label>
              </div>
              <div class="time-selector">
                <input type="radio" name="c" id="c11" class="time-selector__radio" checked>
                <label class="time-selector__label" for="c11">15:00</label>
              </div>
              <div class="time-selector">
                <input type="radio" name="c" id="c12" class="time-selector__radio">
                <label class="time-selector__label" for="c12">15:30</label>
              </div>
              <div class="time-selector">
                <input type="radio" name="c" id="c13" class="time-selector__radio" disabled>
                <label class="time-selector__label" for="c13">16:00</label>
              </div>
              <div class="time-selector">
                <input type="radio" name="c" id="c14" class="time-selector__radio" disabled>
                <label class="time-selector__label" for="c14">16:30</label>
              </div>
              <div class="time-selector">
                <input type="radio" name="c" id="c15" class="time-selector__radio" disabled>
                <label class="time-selector__label" for="c15">17:00</label>
              </div>
              <div class="time-selector">
                <input type="radio" name="c" id="c16" class="time-selector__radio" disabled>
                <label class="time-selector__label" for="c16">17:30</label>
              </div>
            </div>
          </div>
        </div>
        <div class="u-btn-group u-btn-group--next2 u-btn-group--mobile-expansion">
          <div class="u-btn-group__item">
            <a href="#layer-popup-a" class="u-btn" onclick="closeLayerPopup(this)">선택</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dimmed"></div>
<!-- // 시작 시간 선택 팝업 -->
