<%
let gnb = locals.require('gnb.json')
var page = 'reservation'
let sub = '예약내용 확인'
let heading = (sub == '') ? gnb[page].title.ko : sub
        -%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<%- locals.widget('_page-header.ejs', {title: gnb[page].title.ko}) %>

<div class="u-content-title-wrap">
  <h1 class="u-content-title"><%- heading %></h1>
</div>

<table class="u-table">
  <tbody>
    <tr>
      <th class="u-table__th">이름</th>
      <td class="u-table__td">홍길동</td>
    </tr>
    <tr>
      <th class="u-table__th">연락처</th>
      <td class="u-table__td">010-2323-4343</td>
    </tr>
    <tr>
      <th class="u-table__th">제품</th>
      <td class="u-table__td">발트렉스 (발라시클로비르염산염)</td>
    </tr>
    <tr>
      <th class="u-table__th">날짜</th>
      <td class="u-table__td">2018-03-12</td>
    </tr>
    <tr>
      <th class="u-table__th">시간</th>
      <td class="u-table__td">13:00</td>
    </tr>
    <tr>
      <th class="u-table__th">타입</th>
      <td class="u-table__td">화상강의</td>
    </tr>
    <tr>
      <th class="u-table__th">문의내용</th>
      <td class="u-table__td">
        A_Product 에 대해 조금더 알고싶습니다.<br>
        A_Product 에 대해 조금더 알고싶습니다.<br>
        A_Product 에 대해 조금더 알고싶습니다.<br>
        A_Product 에 대해 조금더 알고싶습니다.<br>
        A_Product 에 대해 조금더 알고싶습니다.
      </td>
    </tr>
  </tbody>
</table>
<!-- //u-table -->

<ul class="u-list u-list--wrap">
  <li class="u-list__item">작성하신 내용이 맞으시면 신청버튼을 클릭하세요.</li>
  <li class="u-list__item">다시작성 하시려면 다시작성을 클릭하세요.</li>
  <li class="u-list__item">연락처 변경은 개인정보변경을 먼저 해주시길 바랍니다.</li>
  <li class="u-list__item">예약내용 변경은 예약시간 1시간 전까지 가능합니다.</li>
</ul>
<!-- //u-list -->

<div class="u-btn-group u-btn-group--mobile-expansion u-btn-group--next">
  <div class="u-btn-group__item"><a href="../reservation/<%- gnb.reservation.link %>.html" class="u-btn">다시작성</a></div>
  <div class="u-btn-group__item"><a href="#" class="u-btn u-btn--orange">예약하기</a></div>
</div>