<%
let gnb = locals.require('gnb.json')
var page = 'product'
let sub = '아보다트'
let heading = (sub == '') ? gnb[page].title.ko : sub
        -%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<%- locals.widget('_page-header.ejs', {title: gnb[page].title.ko}) %>
<%- locals.widget('_tab.ejs', {list: gnb[page].children}) %>
<%- locals.widget('_product.ejs', {item: sub}) %>