<% let base = locals.entry.base || 'Default title'; %>
<div class="site-footer">
  <address class="footer-address">
    <div class="footer-address__item"><span class="footer-address__highlight2"><%- base.company %></span></div>
    <div class="footer-address__item footer-address__item--mobile-clear"><%- base.address %></div>
    <div class="footer-address__item footer-address__item--mobile-clear"><span class="footer-address__highlight">문의 :</span> 오진주<a href="tel:02-709-4434" class="footer-address__link"> 02.709.4434</a></div>
    <div class="footer-address__item"><span class="footer-address__highlight">메일 :</span><a href="mailto:kr.medicall@gsk.com" class="footer-address__link">kr.medicall@gsk.com</a></div>
    <div class="footer-address__item footer-address__item--clear"><span class="footer-address__highlight">대표자 :</span> <%- base.ceo %></div>
    <div class="footer-address__item"><span class="footer-address__highlight">사업자 등록번호 :</span> <%- base.number %></div>
    <div class="footer-address__item footer-address__item--mobile-clear"><span class="footer-address__highlight">Tel :</span> <a href="tel:<%- base.tel %>" class="footer-address__link"><%- base.tel %></a></div>
    <div class="footer-address__item"><span class="footer-address__highlight">Fax :</span> <%- base.fax %></div>
  </address>
  <!-- edit 180406 자연스러운 줄바꿈 -->
  <div class="footer-information">
    <span class="inline-block">GSK 제품 사용 중 발생한 이상사례(부작용)는</span>
    <span class="inline-block"><a href="tel:<%- base.tel %>" class="footer-information__link"><%- base.tel %></a> 또는</span>
    <span class="inline-block"><a href="mailto:<%- base.mail %>" class="footer-information__link"><%- base.mail %></a>으로</span> <!-- edit 20180406 메일오타수정 -->
    <span class="inline-block">보고해 주시기 바랍니다.</span>
    <!-- add 180413 문구 -->
    <br>
    <span class="inline-block">최신 제품설명서 전문은</span>
    <span class="inline-block"><a href="https://kr.gsk.com" class="footer-information__link">kr.gsk.com</a> 에서</span>
    <span class="inline-block">확인하실 수 있습니다.</span>
    <!-- //add 180413 문구 -->
  </div>
  <!-- //edit 180406 자연스러운 줄바꿈 -->
  <div class="footer-copyright">
    <!-- edit 180413 copyright -->
    <%- base.copyright %>
    <!-- //edit 180413 copyright -->
    <!-- add 180425 코드 -->
    <br>
    2003-VAL-18-0027-WEB
    <!-- //add 180425 코드 -->
  </div>
  <div class="footer-logo"></div><!-- add 180406 하단 로고 -->
  <!-- add 180406 하단 배너 -->
  <div class="footer-banner">
    <a href="https://health.gsk.kr/" target="_blank" title="health.gsk 바로가기" class="footer-banner__link"><img src="../../images/layout/banner-footer.png" alt="의료전문가를 위한 GSK 포털 사이트 health.gsk | GSK제품과 관련된 질환의 최신정보를 확인하세요!" class="footer-banner__img"></a>
  </div>
  <!-- //footer-banner -->
  <!-- //add 180406 하단 배너 -->
</div>
<!-- //site-footer -->
