<% let gnb = locals.require('gnb.json') -%>
<ul class="site-gnb__list">
  <%
  for (var depth1 in gnb) {
  if (gnb[depth1].hasOwnProperty('view')) {
    var pageLocation = (depth1 == locals.blocks.page) ? 'active' : ''
  -%>
  <% if (Object.keys(gnb[depth1].children).length > 0 && gnb[depth1].children.hasOwnProperty('view')) {
    var children = gnb[depth1].children;
    var subLink = children[Object.keys(children)[1]].link
    var link = (gnb[depth1].link == '') ? subLink : gnb[depth1].link
  %>
  <li class="site-gnb__item site-gnb__item--dropdown <%- pageLocation %>">
    <a href="../<%- depth1%>/<%- link %>.html" class="site-gnb__link"><%- gnb[depth1].title.ko %></a>
    <ul class="site-gnb__list2">
      <%
      for (var depth2 in children) {
      if (children[depth2].hasOwnProperty('view')) {
      var subLocation = (depth2 == locals.blocks.sub) ? 'active' : ''
      -%>
      <li class="site-gnb__item2 <%- subLocation %>"><a href="../<%- depth1%>/<%- children[depth2].link %>.html" class="site-gnb__link2"><%- depth2 %></a></li>
      <%
      } //end if
      } // end for
      -%>
    </ul>
  </li>
  <% } else {
  var link = (gnb[depth1].link == '') ? gnb[depth1].children[Object.keys(gnb[depth1].children)[0]].link : gnb[depth1].link
  -%>
  <li class="site-gnb__item <%- pageLocation %>">
    <a href="../<%- depth1%>/<%- link %>.html" class="site-gnb__link"><%- gnb[depth1].title.ko %></a>
  </li>
  <% } // end if -%>
  <%
  } // end if
  } // end for
  -%>
</ul>
<div class="site-gnb__active-bar"></div>