<% let base = locals.entry.base || 'Default title'; %>
<div class="site-header">
  <div class="mobile-header">
    <button type="button" class="mobile-button-open" disabled><span class="mobile-button-open__bread"></span>mobile menu open</button>
    <h1 class="top-logo">
      <a href="../main/main.html" class="top-logo__link"><img src="../../images/layout/top-logo.png" alt="<%- base.name %>" class="top-logo__img"></a>
    </h1>
    <div class="service">
      <ul class="service__list">
        <li class="service__item">
          <a href="../main/login.html" class="service__link service__link--logout">로그아웃</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- //mobile-header -->
  <div class="mobile-menu">
    <h1 class="mobile-menu-logo">
      <a href="../main/main.html" class="mobile-menu-logo__link"><img src="../../images/layout/top-logo.png" alt="<%- base.name %>" class="mobile-menu-logo__img"></a>
    </h1>
    <div class="mobile-service">
      <ul class="mobile-service__list">
        <li class="mobile-service__item">
          <a href="https://gsk.acms.com/medicall" target="_blank" class="mobile-service__link mobile-service__link--video-lecture">화상강의</a>
        </li>
        <li class="mobile-service__item">
          <a href="../main/login.html" class="mobile-service__link mobile-service__link--logout">로그아웃</a>
        </li>
      </ul>
    </div>
    <div class="site-gnb">
      <h2 class="site-gnb__tit">GNB</h2>
      <%- locals.widget('_gnb.ejs') %>
    </div>
    <!-- //site-gnb -->
    <button type="button" class="mobile-button-close" disabled>mobile menu close</button>
  </div>
  <!-- //mobile-menu -->
</div>
<!-- //site-header -->

