<% let option = locals.entry.option || ''; %>
<div class="u-pagination <%- option %>">
	<a href="#" class="u-pagination__link u-pagination__link--home">처음</a>
	<a href="#" class="u-pagination__link u-pagination__link--page-down u-pagination__link--mobile-hide">이전 목록</a> <!-- 데스크탑 활성화 -->
	<a href="#" class="u-pagination__link u-pagination__link--prev u-pagination__link--desktop-hide">이전 페이지</a> <!-- 모바일 활성화 -->
	<a href="#" class="u-pagination__link">1</a>
	<a href="#" class="u-pagination__link is-on">2</a>
	<a href="#" class="u-pagination__link">3</a>
	<a href="#" class="u-pagination__link">4</a>
	<a href="#" class="u-pagination__link">5</a>
	<a href="#" class="u-pagination__link">6</a>
	<a href="#" class="u-pagination__link">7</a>
	<a href="#" class="u-pagination__link">8</a>
	<a href="#" class="u-pagination__link">9</a>
	<a href="#" class="u-pagination__link">111</a>
	<a href="#" class="u-pagination__link u-pagination__link--next u-pagination__link--desktop-hide">다음 페이지</a> <!-- 모바일 활성화 -->
	<a href="#" class="u-pagination__link u-pagination__link--page-up u-pagination__link--mobile-hide">다음 목록</a> <!-- 데스크탑 활성화 -->
	<a href="#" class="u-pagination__link u-pagination__link--end">끝</a>
</div>
<!-- //u-pagination -->