<%
let gnb = locals.require('gnb.json')
let item = locals.entry.item || ''
let product = locals.require('product.json')
let goods = product[item]
-%>
<div class="product-wrap">
  <div class="product-wrap__col">
    <div class="product-photo">
      <img src="../../images/product/<%- goods.photo %>" alt="<%- item %>" class="product-photo__img"><!-- edit 180406 아바미스 이미지 --> 
    </div>
    <!-- //product-photo -->
  </div>
  <div class="product-wrap__col">
    <div class="product-info">
      <h1 class="u-content-title u-content-title--desktop-left"><%- item %></h1>
      <p class="product-info__summary">
        <%- goods.summary %>
      </p>
      <div class="product-info__btn-group">
        <div class="u-btn-group u-btn-group--mobile-expansion">
          <div class="u-btn-group__item"><a href="<%- goods.download %>" target="_blank" class="u-btn u-btn--w-auto">Prescribing Information</a></div>
        </div>
      </div>
    </div>
    <!-- //product-info -->
  </div>
</div>
<!-- //product-wrap -->
<ol class="u-order-list u-order-list--next">
  <!-- edit 180413 문구 -->
  <% goods.description.forEach(function(item) { -%>
    <li class="u-order-list__item"><%- item %></li>
  <% }) -%>
  <!-- //edit 180413 문구 -->
</ol>
<!-- //u-order-list -->

<div class="u-btn-group u-btn-group--next u-btn-group--mobile-expansion">
  <div class="u-btn-group__item"><a href="../reservation/<%- gnb.reservation.link %>.html" class="u-btn u-btn--fill-orange">예약하기</a></div>
</div>
<!-- //u-btn-group -->

<div class="u-bar"></div>

<% if (goods.hasOwnProperty('reference')) {%>
<h2 class="product-reference-heading">Reference</h2>
<ol class="u-order-list2 u-order-list2--next">
  <!-- edit 180416 아바미스 문구수정 -->
  <!-- edit 180420 아바미스 문구수정 -->
  <!-- add 180725 아바미스 문구추가 -->
  <% goods.reference.forEach(function(item) { -%>
    <li class="u-order-list2__item"><%- item %></li>
  <% }) -%>
  <!-- //add 180725 아바미스 문구추가 -->
  <!-- //edit 180420 아바미스 문구수정 -->
  <!-- //edit 180416 아바미스 문구수정 -->
</ol>
<!-- //u-order-list2 -->
<% } %>

<% if (goods.hasOwnProperty('safety')) {%>
<!-- add 180413 Safety information -->
<!-- edit 180725 아바미스 윗첨자추가 -->
<h2 class="product-reference-heading product-reference-heading--next">Safety information<% if(item === '아바미스'){ %><sup>7</sup><% } %></h2>
<!-- //edit 180725 아바미스 윗첨자추가 -->
<p class="u-para u-para--next">
  <!-- edit 180416 발트렉스, 아바미스 내용변경 -->
  <!-- edit 180420 발트렉스, 아바미스 내용변경 -->
  <!-- edit 180423 발트렉스, 아바미스 내용변경 -->
  <% goods.safety.forEach(function(item) { -%>
    <%- item %>
  <% }) -%>
  <!-- //edit 180423 발트렉스, 아바미스 내용변경 -->
  <!-- //edit 180420 발트렉스, 아바미스 내용변경 -->
  <!-- //edit 180416 발트렉스, 아바미스 내용변경 -->
</p>
<!-- //u-para -->
<!-- //add 180413 Safety information -->
<% } %>