<% let { list = {} } = locals.entry; -%>
<ul class="u-tab">
  <%
  for (var depth2 in list) {
  if (list[depth2].hasOwnProperty('view')) {
  var subLocation = (depth2 == locals.blocks.sub) ? 'is-on' : ''
  -%>
  <li class="u-tab__item <%- subLocation %>"><a href="<%- list[depth2].link %>.html" class="u-tab__link"><%- depth2 %></a></li>
  <%
  } //end if
  } // end for
  -%>
</ul>
<!-- //u-tab -->