<% 
  let gnb = locals.require('gnb.json')
  var page = 'main'
  let sub = '로그인'
  let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>

<% locals.block('link','<link rel="stylesheet" href="../../css/login.css">','append') %>
<% locals.block('footerScript','<script src="../../js/login.js"></script>','append') %>

<div class="login-wrap js-login-height">
  <h1 class="login-logo"><img src="../../images/login/login-logo.png" alt="MediCall" class="login-logo__img"></h1>
  <div class="login-box">
    <div class="login-box__text-area">
      <div class="login-info">
        <div class="login-info__row login-info__row--full">
          <span class="login-info__text">GSK Virtual 디테일 서비스</span><br>
          <span class="login-info__text2"><strong>MediCall</strong>에</span><br>
          <span class="login-info__text">오신 것을 환영합니다.</span>
        </div>
        <!-- add 180413 문구 -->
        <div class="login-info__row">
          <div class="login-info__text3">이 서비스는 한국 보건의료전문가 전용 사이트로<br>코드번호로 로그인하여 이용할 수 있습니다.</div>
        </div>
        <!-- //add 180413 문구 -->
      </div>
      <!-- //login-info -->
    </div>
    <div class="login-box__form-area">
      <div class="login-form">
        <div class="login-form__row">
          <h2 class="login-form__tit">Login</h2>
          <!-- add 180725 form추가수정 -->
          <div class="form-group">
            <label class="form-inline">
              <span class="form-radio"><input type="radio" name="loginOption" value="이메일" checked><i></i></span> 이메일
            </label>
            <label class="form-inline">
              <span class="form-radio"><input type="radio" name="loginOption" value="코드번호"><i></i></span> 코드번호
            </label>
          </div>
          <div class="login-form__summary">선생님의 <span class="js-summary-text">이메일 주소</span>를 입력해주세요.</div>
          <!-- //add 180725 form추가수정 -->
        </div>
        <div class="login-form__row login-form__row--full">
          <!-- add 180725 form추가수정 -->
          <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="" id="" class="js-login-email login-form__input-text login-form__input-text--margin">
          <input type="number" pattern="[0-9]*" data-numeric-input name="" id="" class="js-login-number login-form__input-text login-form__input-text--margin" style="display:none;">
          <!-- //add 180725 form추가수정 -->
          <input type="submit" value="Log in" class="login-form__button-submit login-form__button-submit--margin" onclick="window.location.href='main.html'">
          <label class="login-form__label-checkbox"><input type="checkbox" name="" id="" class="login-form__input-checkbox"> 접속상태 유지</label>
        </div>
        <div class="login-form__row">
          <div class="login-contact">
            <div class="login-contact__item">
              <span class="login-contact__text login-contact__text--type-1">코드번호 문의</span>
            </div>
            <div class="login-contact__item login-contact__item--text-right">
              <div class="login-contact__text login-contact__text--type-2">GSK 오진주</div>
              <div class="login-contact__text login-contact__text--type-3"><a href="tel:02-709-4434" class="login-contact__link">02·709·4434</a></div>
              <div class="login-contact__text login-contact__text--type-3"><a href="mailto:kr.medicall@gsk.com" class="login-contact__link">kr.medicall@gsk.com</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- //login-form -->
    </div>
  </div>
  <!-- //login-box -->
</div>
<!-- //login-wrap -->