<% 
  let gnb = locals.require('gnb.json')
  var page = 'main'
  let sub = ''
  let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/main.css">','append') %>
<% locals.block('footerScript','<script src="../../js/main.js"></script>','append') %>

<div class="main-wrap">
  <div class="main-intro">
    <p class="main-intro__tit">
      <span class="inline-block"><strong class="main-intro__name">홍길동</strong> 선생님, </span>
      <span class="inline-block">반갑습니다!</span>
    </p>
    <div class="main-summary">
      <p class="main-summary__text">
        <span class="inline-block">GSK Virtual 디테일 서비스</span><br><strong class="main-summary__text-bold">MediCall</strong>에 오신 것을
        <span class="inline-block">환영합니다.</span>
      </p>
    </div>
  </div>
  <div class="main-belt">
    <div class="main-notice">
      <h2 class="main-notice__tit">공지사항</h2>
      <ul class="main-notice__list">
        <li class="main-notice__item"><a href="" class="main-notice__link">모든 국민은 양심의 자유를 가진다. 위원은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지 아니한다. <span class="main-notice__date">2018.10.10</span></a></li>
        <li class="main-notice__item"><a href="" class="main-notice__link">모든 국민은 양심의 자유를 가진다. 위원은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지 아니한다. <span class="main-notice__date">2018.10.10</span></a></li>
        <li class="main-notice__item"><a href="" class="main-notice__link">모든 국민은 양심의 자유를 가진다. 위원은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지 아니한다. <span class="main-notice__date">2018.10.10</span></a></li>
        <li class="main-notice__item"><a href="" class="main-notice__link">모든 국민은 양심의 자유를 가진다. 위원은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지 아니한다. <span class="main-notice__date">2018.10.10</span></a></li>
        <li class="main-notice__item"><a href="" class="main-notice__link">모든 국민은 양심의 자유를 가진다. 위원은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지 아니한다. <span class="main-notice__date">2018.10.10</span></a></li>
      </ul>
      <a href="" class="main-notice__btn-more">더보기</a>
    </div>
    <!-- //main-notice -->
    
    <div class="main-video">
      <video class="main-video__item" preload="metadata" controls="" playsinline="">
        <source src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/mp4">
      </video>
    </div>
    <!-- //main-video -->
  </div>
  <!-- //main-belt -->
  <div class="main-quick-menu">
    <ul class="main-quick-menu__list">
      <li class="main-quick-menu__item">
        <a href="../medicall/<%- gnb.medicall.link %>.html" class="main-quick-menu__link"><!-- //20180323-->
          <span class="main-quick-menu__icon main-quick-menu__icon--about"></span>
          <span class="main-quick-menu__text">MediCall이란?</span>
        </a>
      </li>
      <li class="main-quick-menu__item">
        <a href="../reservation/<%- gnb.reservation.link %>.html" class="main-quick-menu__link">
          <span class="main-quick-menu__icon main-quick-menu__icon--reservation"></span>
          <span class="main-quick-menu__text">예약하기</span>
        </a>
      </li>
      <li class="main-quick-menu__item">
        <a href="../mypage/<%- gnb.mypage.children['예약내역'].link %>.html" class="main-quick-menu__link">
          <span class="main-quick-menu__icon main-quick-menu__icon--reservation-list"></span>
          <span class="main-quick-menu__text">예약내역</span>
        </a>
      </li>
      <li class="main-quick-menu__item">
        <a href="https://gsk.acms.com/medicall" target="_blank" class="main-quick-menu__link">
          <span class="main-quick-menu__icon main-quick-menu__icon--video-lecture"></span>
          <span class="main-quick-menu__text">화상강의</span>
        </a>
      </li>
    </ul>
  </div>
</div>
