<% 
  let gnb = locals.require('gnb.json')
  var page = 'medicall'
  let sub = '프로그램 안내'
  let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<%- locals.widget('_page-header.ejs', {title: gnb[page].title.ko}) %>

<div class="medicall-section">
  <div class="u-content-title-wrap">
    <h1 class="u-content-title"><%- heading %></h1>
  </div>

  <!-- edit 180406 줄바꿈 --> 
  <div class="about-text">
    <!-- edit 180413 문구 -->
    GSK Virtual 디테일 프로그램인 <strong class="about-text__bold">MediCall</strong>은<br class="u-desktop-br">선생님께서 원하시는 시간과 장소에서 GSK 제품 및 질환과 관련된 최신 정보는 물론,<br class="u-desktop-br">현재 진행 중인 다양한 프로그램까지 빠르고 편리하게 전달받으실 수 있는 서비스입니다. <br><br>
    선생님께서 <strong class="about-text__bold">예약하신 시간</strong>에 GSK 담당자가 <strong class="about-text__bold">전화나 화상강의</strong>를 통해 정보를 전달 드리며, 선생님의 관심 분야와 선호에 따라 <strong class="about-text__bold">1대 1 맞춤 솔루션</strong>을 제공합니다.
    <!-- //edit 180413 문구 -->
  </div>
  <!-- //edit 180406 줄바꿈 --> 
</div>

<div class="medicall-section">
  <div class="u-content-title-wrap">
    <h1 class="u-content-title">서비스 이용방법</h1>
  </div>

  <div class="use-step">
    <div class="use-step__item use-step__item--step1">
      <span class="use-step__number">STEP 01</span>
      <p class="use-step__text">코드 번호 입력 후 <br class="use-step__text--mobile-show">로그인</p>
    </div>
    <div class="use-step__item use-step__item--step2">
      <span class="use-step__number">STEP 02</span>
      <p class="use-step__text">MediCall <br class="use-step__text--mobile-show">서비스 예약</p>
    </div>
    <div class="use-step__item use-step__item--step3 use-step__item--mobile-arrow-hidden use-step__item--mobile-mt-48">
      <span class="use-step__number">STEP 03</span>
      <p class="use-step__text">예약 시간에 <br class="use-step__text--mobile-show">담당자가 연락</p>
    </div>
    <div class="use-step__item use-step__item--step4 use-step__item--mobile-mt-48">
      <span class="use-step__number">STEP 04</span>
      <p class="use-step__text">MediCall <br class="use-step__text--mobile-show">서비스 진행</p>
    </div>
  </div>

  <div class="u-btn-group u-btn-group--next u-btn-group--mobile-expansion">
    <div class="u-btn-group__item">
      <a href="../reservation/<%- gnb.reservation.link %>.html" class="u-btn u-btn--fill-orange u-btn--w-300">MediCall 예약 하기</a>
    </div>
  </div>
</div>

<div class="medicall-section">
  <div class="u-content-title-wrap">
    <h1 class="u-content-title">예약 변경 및 취소 방법</h1>
  </div>

  <div class="box-gray">
    <div class="box-gray__section">
      <h2 class="box-gray__title">예약 변경</h2>
      <ul class="use-step2">
        <li class="use-step2__item use-step2__item--change-step1">
          <div class="use-step2__text-wrap">
            <span class="use-step2__number">STEP 01</span>
            <p class="use-step2__text">코드 번호 입력 후 로그인</p>
          </div>
        </li>
        <li class="use-step2__item use-step2__item--change-step2">
          <div class="use-step2__text-wrap">
            <span class="use-step2__number">STEP 02</span>
            <p class="use-step2__text"><a href="../mypage/<%- gnb.mypage.children['예약내역'].link %>.html" class="use-step2__link">마이페이지 &gt; 예약 내역</a>으로 이동</p>
          </div>
        </li>
        <li class="use-step2__item use-step2__item--change-step3">
          <div class="use-step2__text-wrap">
            <span class="use-step2__number">STEP 03</span>
            <p class="use-step2__text">예약내역 리스트에서 해당 항목 선택 후 예약변경 선택</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="box-gray__section">
      <h2 class="box-gray__title">예약 취소</h2>
      <ul class="use-step2">
        <li class="use-step2__item use-step2__item--cancel-step1">
          <div class="use-step2__text-wrap">
            <span class="use-step2__number">STEP 01</span>
            <p class="use-step2__text">코드 번호 입력 후 로그인</p>
          </div>
        </li>
        <li class="use-step2__item use-step2__item--cancel-step2">
          <div class="use-step2__text-wrap">
            <span class="use-step2__number">STEP 02</span>
            <p class="use-step2__text"><a href="../mypage/<%- gnb.mypage.children['예약내역'].link %>.html" class="use-step2__link">마이페이지 &gt; 예약 내역</a>으로 이동</p>
          </div>
        </li>
        <li class="use-step2__item use-step2__item--cancel-step3">
          <div class="use-step2__text-wrap">
            <span class="use-step2__number">STEP 03</span>
            <p class="use-step2__text">예약내역 리스트에서 해당 항목 선택 후 예약취소 선택</p>
          </div>
        </li>
        <li class="use-step2__item use-step2__item--cancel-step4">
          <div class="use-step2__text-wrap">
            <span class="use-step2__number">STEP 04</span>
            <p class="use-step2__text">내용 하단 취소 버튼 선택</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>