sup,sub { font-size:60%; color:#000; font-weight:500; }

// 페이지 visual
.u-page-header {
  body.notice &:before { background-image: url("../images/page-header/notice-desktop.jpg"); }
  body.medicall &:before { background-image: url("../images/page-header/medicall-desktop.jpg"); }
  body.product &:before { background-image: url("../images/page-header/product-desktop.jpg"); }
  body.mypage &:before { background-image: url("../images/page-header/mypage-desktop.jpg"); }
  body.reservation &:before { background-image: url("../images/page-header/reservation-desktop.jpg"); }
  @media (max-width: $tablet-size){
    body.notice &:before { background-image: url("../images/page-header/notice-mobile.jpg"); }
    body.medicall &:before { background-image: url("../images/page-header/medicall-mobile.jpg"); }
    body.product &:before { background-image: url("../images/page-header/product-mobile.jpg"); }
    body.mypage &:before { background-image: url("../images/page-header/mypage-mobile.jpg"); }
    body.reservation &:before { background-image: url("../images/page-header/reservation-mobile.jpg"); }
  }
}
.u-page-header { position:relative; padding-bottom:60px;
  &:before { content:''; display:block; position:absolute; left:-1000px; top:0; right:-1000px; padding-bottom:300px; margin:auto; background-position: 50% 0; }
  &__text-wrap { position:relative; left:0; top:0; right:0; height:300px; display:table-cell; width:1%; vertical-align: middle; text-align: center; }
  &__title { font-size:48px; font-weight: $medium; color:#fff;
    &:after { content:''; display:block; width:50px; height:0; margin:8px auto 0; padding-bottom:13px; border-top:2px solid $orange; transition:width ease-in-out .3s; }
  }
  &__desc { margin:0; font-size:18px; font-weight: $bold; color:#fff;
    
  }
  @media (max-width: $tablet-size){ padding-bottom:30px;
    &:before { left:-15px; right:-15px; padding-bottom:180px; background-size: cover; background-position: 50% 50%; }
    &__text-wrap { height:180px; }
    &__title { font-size:19px; 
      &:after { width:25px; border-width:1px 0 0; padding-bottom:8px; margin-top:7px; }
    }
    &__desc { font-size:12px; }
  }
}

// 컨텐츠 제목
.u-content-title-wrap { margin-bottom:52px; text-align: center;
  &--next { margin-top:60px; }
  @media (max-width: $tablet-size){ margin-bottom:24px;
    &--next { margin-top:30px; }
  }
}
.u-content-title { position:relative; font-size:48px; font-weight: $light; text-align: center; color:$black-tit; margin:0; line-height:1.3;
  &:before { content:''; display:block; width:50px; height:0; margin:0 auto; padding-bottom:11px; border-top:2px solid $orange; transition:width ease-in-out .3s; }
  &--desktop-left { text-align:left; 
    &:before { margin-left:0;}
  }
  @media (max-width: $tablet-size){ font-size:24px;
    &:before { width:25px; padding-bottom:6px; border-width:1px 0 0; }
    &--desktop-left { text-align:center; 
      &:before { margin-left:auto;}
    }
  }
}
.u-content-desc { margin-top:24px; line-height:1.75; color:#666; font-weight: $light; word-break:keep-all; 
  &:after { display:block; content:''; margin-bottom:-22px; }
  &__text-bold { font-weight: $medium; }
  @media (max-width: $tablet-size){ margin-top:12px; font-size:14px; text-align: left;
    &:after { margin-bottom:-9px; }
  }
}

// bar
.u-bar { margin:90px 0 30px; border-top:2px solid #222;
  @media (max-width: $tablet-size){
    margin:43px 0 15px;
  }
}

// 버튼
.u-btn { @include button; display:inline-block; box-sizing:border-box; width:200px; height:60px; line-height:58px; border-radius:30px; border:1px solid #222222; color:#222222; text-align:center; text-decoration:none; font-size:24px; font-weight:500; transition:opacity .1s ease-in-out, background-color .1s ease-in-out, color .1s ease-in-out;
  &:active { background-color:#222; color:#fff; }
  &--orange { border-color:$orange; color:$orange;
    &:active { background-color:$orange; }
  }
  &--fill-orange { border-color:$orange; background-color:$orange; color:#fff; 
    &:active { background-color:$orange-hard; }
  }
  &--w-300 { width:300px; }
  &--w-auto { width:auto; padding-left:20px; padding-right:20px; }
  @media only screen and (max-width:$tablet-size) { 
    width:130px; height:40px; line-height:38px; font-size:18px; 
    &--w-auto { padding-left:10px; padding-right:10px; }
  }
}

// 버튼그룹
.u-btn-group { display:table; margin:0 auto; 
  $this:&;
  &--next { margin-top:60px; }
  &--next2 { margin-top:40px; }
  &--mobile-expansion { }
  &__item { float:left; margin-right:10px; 
    &:last-child { margin-right:0; }
  }
  @media only screen and (max-width:$tablet-size) {
    &--next { margin-top:40px; }
    &--next2 { margin-top:30px; }
    &--mobile-expansion { //모바일 전환시 확장
      width:calc(100% + 10px); table-layout:fixed;
      #{$this}__item { display:table-cell; float:none; padding-right:10px;
      }
      .u-btn { width:100%;}
    }
  }
}

.u-para { margin:0; padding-left:0; line-height:1.5; color:#666; font-size:12px; font-weight:400; word-break:keep-all; 
  &--next { margin-top:10px;}
  @media only screen and (max-width:$tablet-size) {
    font-size:11px;
    &--next { margin-top:10px;}
  }
}

// 목록
.u-list { margin:0; padding:0; list-style:none; font-weight:300; color:#666; font-size:14px; line-height:1.5; 
  &--wrap { background-color:#f5f5f5; padding:26px 30px; }
  &__item { padding-left:10px; margin-top:9px; 
    &:first-child { margin-top:0; }
    &:before { position:absolute; width:0; height:3px; margin-left:-10px; margin-top:calc(.45em + 3px); border-left:3px solid $orange; content:''; }
  }
  @media only screen and (max-width:$tablet-size) { 
    &--wrap { background-color:#f5f5f5; padding:13px 15px; }
    font-size:12px; 
    &__item { margin-top:8px; 
      &:before { margin-top:calc(.4em + 3px);}
    }
  }
}

// 순서있는 목록
.u-order-list { margin:0; padding-left:1.1em; line-height:1.8; color:#666; font-size:18px; word-break:keep-all;
  &--next { margin-top:71px;}
  &__item { margin-top:0.8em; 
    &:first-child { margin-top:0; }
  }
  &__font-bold { font-weight: $bold; }
  @media only screen and (max-width:$tablet-size) {
    font-size:16px; line-height: 1.5;
    &--next { margin-top:33px;}
  }
}

.u-order-list2 { margin:0; padding-left:0; line-height:1.3; color:#666; font-size:12px; font-weight:400; word-break:keep-all; list-style:none; counter-reset:u-order-list2;
  &--next { margin-top:10px;}
  &__item { margin-top:0.5em; position:relative;  display:table;counter-increment: u-order-list2; 
    &:first-child { margin-top:0; }
    // &:before { display:inline-block; padding-left:1px;  position: absolute; left:0; top:0; content: counter(u-order-list2) ". "; counter-increment: u-order-list2; color:$orange; font-weight:500; }
    &:before { display:table-cell; content: counter(u-order-list2) ". ";padding-right:0.4em; color:transparent; visibility:hidden; font-weight:500;}
    &:after { position: absolute; left:0; top:0; content: counter(u-order-list2) ". "; color:$orange; font-weight:500; }
  }
  @media only screen and (max-width:$tablet-size) {
    font-size:11px;
    &--next { margin-top:10px;}
    &__item { margin-top:0.5em;
      &:before { }
    }
  }
}

// 탭
.u-tab { display:table; table-layout:fixed; width:100%; box-sizing:border-box; overflow:hidden; position:relative; z-index:20; margin:0; padding:0 0 0 1px; font-size:18px; color: #222; line-height:1.1; list-style:none; letter-spacing:0; font-weight:300;
  &__item { display: table-cell; position: relative; width: 1%; height: inherit;  border-left-width: 0; background-color: #fff; text-align: center; vertical-align:middle; }
  &__item:after { position:absolute; left:-1000px; right:-1000px; bottom:0; border-bottom:1px solid $orange; content: ''; }
  &__link { display: table-cell; position: relative; width: 1%; height:60px; color: inherit; text-decoration: none; vertical-align: middle; }
  &__link:after { z-index:1; box-sizing:border-box; position: absolute; top: 0; left: -1px; right: 0; bottom:1px; height:inherit; border-width:1px; border-style:solid; border-color:#d6d6d6; content: ''; }
  &__item.is-on .u-tab__link { background-color:$orange; color: #fff; z-index:10; }
  &__item.is-on .u-tab__link:after { bottom:0; border-color: $orange; }
  @media only screen and (max-width:$tablet-size) { 
    font-size:14px; 
    &__link { height:40px; }
  }
}

// 페이징
.u-pagination {	display:table; margin:0 auto; 
  &--next { margin-top:60px; }
  &__link {	float:left; box-sizing:border-box; min-width:40px; height:40px; padding:0 5px; margin-right:5px; border:1px solid #d6d6d6; background-color:#fff; text-decoration:none; text-align:center; line-height:38px; font-size:16px; color:#666; font-weight:300; transition:border .3s ease-in-out;
    &:last-child { margin-right:0; }
    &:hover { border-color:$orange; }
    &.is-on { border-color:$orange; background-color:$orange; color:#fff; }
    &--desktop-hide { display:none; }
    
    &--home,
    &--page-down,
    &--prev,
    &--next,
    &--page-up,
    &--end { @include ir; position:relative; width:40px;
      &:before { position:absolute; top:0; left:0; right:0; bottom:0; width:10px; height:16px; margin:auto; background:url(../images/icon/pagination-icon.png) no-repeat; background-size:auto 16px; content:''; }
    }
    &--home {
      &:before { background-position:0 0; }
    }
    &--page-down {
      margin-right:30px; 
      &:before { background-position:-10px 0; }
    }
    &--prev {
      margin-right:30px; 
      &:before { background-position:-10px 0; }
    }
    &--next {
      margin-left:25px; 
      &:before { background-position:-20px 0; }
    }
    &--page-up {
      margin-left:25px; 
      &:before { background-position:-20px 0; }
    }
    &--end {
      &:before { background-position:-30px 0; }
    }
  }
  @media only screen and (max-width:$tablet-size) { 
    &--next { margin-top:30px; }
    &__link { display:none;
      &.is-on,
      &--home,
      &--page-down,
      &--prev,
      &--next,
      &--page-up,
      &--end { display:block; }
      &--desktop-hide { display:block; }
      &--mobile-hide { display:none; }
    }
  }
}


// 아코디언 목록
.u-accordion-list { margin:0; padding:0; border-top:2px solid #222; border-bottom:1px solid #d6d6d6; list-style:none; 
  &__item { border-top:1px solid #d6d6d6; 
    &:first-child { border-top:none; }
    &--empty { padding:100px 0; text-align:center; color:#666; font-size:24px; line-height:1.5; font-weight:300; }
  }
  &__header { }
  &__body { @include block; position:relative; background-color:#f5f5f5; display:none; 
    &:before { display:block; border-top:1px solid #d6d6d6; }
  }
  @media only screen and (max-width:$tablet-size) { 
    &__item {
      &--empty { padding:55px 0; font-size:16px; }
    }
  }
}

.u-board-list { width:100%; table-layout:fixed; border-collapse:collapse;  border-top:2px solid #000; }
.u-board-list__th,
.u-board-list__td { overflow:hidden; height:60px; text-align:center;}
.u-board-list__th { border-bottom:1px solid #e2e2e2; background-color:#f5f5f5; font-size:18px; color:#000; font-weight:400; }
.u-board-list__td { position:relative; border-bottom:1px solid #d6d6d6; font-size:16px; color:#666; }
.u-board-list__td--text-left { text-align:left; }
.u-board-list__link { color:inherit; text-decoration:none; }
.u-board-list__link:focus,
.u-board-list__link:hover { text-decoration:underline; }
.u-board-list__word-wrap { display:inline-block; overflow:hidden; max-width:100%; white-space:nowrap; text-overflow:ellipsis; vertical-align:top; }
@media only screen and (max-width:$tablet-size) {
  .u-board-list__th,
  .u-board-list__td { height:48px; }
  .u-board-list__th { font-size:14px; }
  .u-board-list__td { font-size:12px; }
}

.u-board-view { border-top:2px solid #000; }
.u-board-view__head { @include block; border-bottom:1px solid #d6d6d6; }
.u-board-view__title { margin:0; padding:22px 20px; border-bottom:1px solid #d6d6d6; background-color:#f5f5f5; font-size:18px; color:#222; font-weight:400; line-height:1.3; word-break:keep-all; word-wrap:break-word; }
.u-board-view__info { display: table; table-layout: fixed; }
.u-board-view__item { display:table-cell; padding:18px 20px; box-sizing:border-box; font-size:16px; }
.u-board-view__item--left { }
.u-board-view__item--right { width:350px; }
.u-board-view__bundle { display:inline-block; vertical-align:top;}
.u-board-view__bundle--next { margin-left:30px; padding-left:31px; }
.u-board-view__bundle--next:before { position:absolute; height:14px; border-left:1px solid #ccc; content:''; margin-left:-31px; margin-top:5px;}
.u-board-view__term { float:left; margin-right:20px; color:#222; line-height:1.5; }
.u-board-view__describe { display:block; overflow:hidden; color:#666; line-height:1.5; }
.u-board-view__attach { position:relative; display:inline-block; padding-left:15px; text-decoration:none; color:inherit; word-break:break-all; }
.u-board-view__attach:focus,
.u-board-view__attach:hover { text-decoration:underline; }
.u-board-view__attach:before { position:absolute; left:0; top:0.2em; display:inline-block; width:9px; height:16px; background:url(../images/icon/board-attach-icon.png) no-repeat; background-size:cover; content:''; }
.u-board-view__body { padding:56px 50px; border-bottom:1px solid #d6d6d6; }
@media only screen and (max-width:$tablet-size) {
  .u-board-view__title { padding:15px 10px; font-size:14px; }
  .u-board-view__item { display:block; padding:15px 10px; font-size:12px; }
  .u-board-view__item--right { width:auto; border-top:1px solid #d6d6d6; }
  .u-board-view__bundle--next:before { height:10px; margin-top:4px; }
  .u-board-view__body { padding:15px 0; }
}

.u-board-article { color:#666; font-size:16px; line-height:1.6; word-break:keep-all; word-wrap:break-word;
  * { margin:0; }
  img, embed, object { max-width:100%; }
}
@media only screen and (max-width:$tablet-size) { 
  .u-board-article { font-size:13px; }
}


.js-accordion-button { position:relative; cursor:pointer; 
  &:after { position:absolute; top:0; bottom:0; right:30px; width:27px; height:15px; margin:auto; background:url(../images/icon/accordion-icon.png) no-repeat; content:''; }
  &.is-active:after { background-position:-30px 0;}
  &:focus,
  &:hover,
  &:active { outline:none; }
  &:focus { animation:accordion-button .3s ease-in-out;}
  @media only screen and (max-width:$tablet-size) { 
    padding-right:34px; 
    &:after { right:10px; width:14px; height:8px; background-size:30px 10px; }
    &.is-active:after { background-position:-15px 0;}
  }
}
@keyframes accordion-button {
  0% { background-color:#fff;}
  50% { background-color:#f5f5f5;}
  100% { background-color:#fff;}
}

// table
.u-table { width:100%; border-top:2px solid #222; line-height:1.5; border-collapse: collapse;
  $this:&;
  &__th,
  &__td { padding:23px 30px; box-sizing:border-box; border-bottom:1px solid #d6d6d6; font-weight:300; font-size:16px; color:#666; text-align:left; vertical-align:top;}
  &__th { width:1%; font-weight:500; color:#000; white-space:nowrap; }
  &__td { padding-left:50px; word-break:break-all;}
  &__form { margin-top:-8px;margin-bottom:-8px; }
  @media only screen and (max-width:$tablet-size) { 
    &__th,
    &__td { padding:14px 15px; font-size:14px; }
    &__th { }
    &__td { padding-left:15px; }
    &--mobile-vertical { 
      #{$this}__th,
      #{$this}__td { display:block; }
      #{$this}__th { width:auto; border-bottom:0; padding-bottom:3px;}
      #{$this}__td { padding-top:0; }
      #{$this}__form { margin-top:0; margin-bottom:0; }
    }
  }
}
// form
.u-form-group { display:table; width:100%;
  &--next { margin-top:10px; }
  &__item { display:table-cell; padding-right:10px; vertical-align:middle;
    &--fixed { width:1%; }
    &:last-child { padding-right:0; }
  }
  @media only screen and (max-width:$tablet-size) { 
    &--mobile-vertical &__item { display:block; padding-right:0; margin-top:10px; 
      &:first-child { margin-top:0; }
    }
  }
}


.u-input-text{ appearance: none; -moz-appearance: textfield; height:40px; box-sizing:border-box; padding:8px 19px; border:1px solid #c2c7ca; border-radius:0; background-color:#f4f7f8; color:#888888; font-size:16px; line-height:1.1; vertical-align:middle; transition:border .3s ease-in-out;
  &--w-100p { width:100%; }
  &:focus { outline:none; border-color:#a8acaf; }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
  @media only screen and (max-width:$tablet-size) { 
    height:35px; padding:6px 15px; font-size:14px; 
  }
}

.u-input-button { display:inline-block; box-sizing:border-box; height:40px; line-height:38px; border:1px solid #a1acb2; background-color:#a1acb2; font-size:16px; text-align:center;color:#fff; vertical-align:middle; text-decoration:none; 
  &--postal-code { width:130px; }
  @media only screen and (max-width:$tablet-size) { 
    height:35px; font-size:14px; line-height:33px; 
    &--postal-code { width:100px; }
  }
}