.medicall-section {
  &+& { margin-top:118px;
    @media (max-width: $tablet-size){
      margin-top:70px;
    }
  }
}

.about-text { font-size:32px; color:#666; line-height: 1.5; font-weight: $light; word-break:keep-all; letter-spacing: -0.03em;
  &__bold { font-weight: $regular; }
  @media (max-width: $tablet-size){
    text-align:justify; font-size:16px; word-break:break-all;
  }
}

.use-step { margin-top:17px; padding-bottom:34px;
  &__item { position:relative; display:table-cell; width:1%; text-align: center; box-sizing: border-box; padding-top:120px; background-repeat: no-repeat; background-position: 50% 0;
    &:first-child {
      &:before,
      &:after { display:none; }
    }
    &:before { content:''; width:30px; height:30px; position:absolute; left:-15px; top:38px; border-radius: 30px; background-color: $orange; }
    &:after { content:''; width:8px; height:8px; margin:10px 0 0 8px; position:absolute; left:-15px; top:38px; border-width:2px 2px 0 0; border-style: solid; border-color: #fff; transform: rotate(45deg); }
    &--step1 { background-image: url("../images/medicall/icon1-step01.png"); }
    &--step2 { background-image: url("../images/medicall/icon1-step02.png"); }
    &--step3 { background-image: url("../images/medicall/icon1-step03.png"); }
    &--step4 { background-image: url("../images/medicall/icon1-step04.png"); }
  }
  &__number { font-size:16px; color:$orange; line-height: 1.5; }
  &__text { margin:0; font-size:16px; color:#666; line-height: 1.5; font-weight: $light; white-space: nowrap;
    &--mobile-show { display:none; }
  }
  @media (max-width: $tablet-size){ margin-top:0; overflow: hidden; padding-bottom:0;
    &__item { display:inline-block; width:50%; float:left; padding-top:60px;
      &--mobile-mt-48 { margin-top:48px; }
      &--mobile-arrow-hidden {
        &:before, &:after { display:none; }
      }
      &:before { width:15px; height:15px; left:-7px; top:14px; border-radius: 15px; }
      &:after { width:4px; height:4px; margin:5px 0 0 4px; left:-7px; top:14px; border-width:1px 1px 0 0; }
      &--step1 { background-size: 44px 43px; }
      &--step2 { background-size: 44px 43px; }
      &--step3 { background-size: 46px 43px; }
      &--step4 { background-size: 42px auto; }
    }
    &__number { font-size:14px; }
    &__text { font-size:14px;
      &--mobile-show { display:block; }
    }
  }
}

.box-gray { padding:60px 0; background-color: #f5f5f5; border-top:1px solid $black-tit;
  &__section { display:table-cell; width:1000px; box-sizing: border-box; padding: 0 60px;
    &+& { border-width:0 0 0 1px; border-style:solid; border-color: #d6d6d6; }
  }
  &__title { margin:-6px 0 0; font-size:28px; color:$black-tit; font-weight: $medium; }
  @media (max-width: $tablet-size){ padding:32px 20px;
    &__section { display:block; width:100%; padding:0;
      &+& { border-width:1px 0 0 0; padding-top:32px; margin-top: 32px; }
    }
    &__title { margin-top:0; font-size:18px; }
  }
}

.use-step2 { margin:22px 0 0; padding:0; list-style: none;
  $this:&;
  &__item { line-height: 1.5; position: relative; height:55px; padding:15px 0;
    &:first-child { padding-top: 0; }
    #{$this} &--change-step3 { padding-bottom: 0; }
    #{$this} &--cancel-step4 { padding-bottom: 0; }
    &:before { content:''; display:table-cell; width:48px; height:inherit; background-position: 50% 50%; background-repeat: no-repeat; }
    &--change-step1:before,
    &--cancel-step1:before { background-image: url("../images/medicall/icon2-step01-desktop.png"); }
    &--change-step2:before,
    &--cancel-step2:before { background-image: url("../images/medicall/icon2-step02-desktop.png"); }
    &--change-step3:before { background-image: url("../images/medicall/icon2-step03-1-desktop.png"); }
    &--cancel-step3:before { background-image: url("../images/medicall/icon2-step03-2-desktop.png"); }
    &--cancel-step4:before { background-image: url("../images/medicall/icon2-step04-desktop.png"); }
  }
  &__text-wrap { display:table-cell; height: inherit; vertical-align: middle; padding-left:30px; }
  &__number { display:inline-block; font-size:16px; font-weight: $medium; color:$orange; }
  &__text { margin:0; font-size:16px; font-weight: $light; color:#666; word-break:keep-all; }
  &__link { color:#666; text-decoration: none; }
  @media (max-width: $tablet-size){
    &__item { line-height: 1.286; padding:12px 0;
      &:before { width:48px; background-size: auto 48px; }
      &--change-step1:before,
      &--cancel-step1:before { background-image: url("../images/medicall/icon2-step01-mobile.png"); }
      &--change-step2:before,
      &--cancel-step2:before { background-image: url("../images/medicall/icon2-step02-mobile.png"); }
      &--change-step3:before { background-image: url("../images/medicall/icon2-step03-1-mobile.png"); }
      &--cancel-step3:before { background-image: url("../images/medicall/icon2-step03-2-mobile.png"); }
      &--cancel-step4:before { background-image: url("../images/medicall/icon2-step04-mobile.png"); }
    }
    &__text-wrap { padding-left:15px; }
    &__number { font-size:14px; }
    &__text { margin-top:3px; font-size:14px; }
  }
}