@import '../variables/variables';

@import '../mixins/mixins';

.reservation-head { display:table; width:100%; margin:0; line-height:1.3; font-size:24px; color:#666; font-weight:300;
  &__terms { @include hidden; }
  &__describes { display:table-cell; text-align:center; vertical-align:middle; height:80px; margin:0; 
    &--num {  width:80px; }
    &--state { width:206px; }
    &--date { width:260px; color:#222; font-weight:500; }
    &--type { text-align:left; padding-left:54px; }
  }
  @media only screen and (max-width:$tablet-size) { 
    font-size:14px; padding-top:15px; padding-bottom:15px; 
    &__terms { }
    &__describes { display:block; text-align:left; height:auto;
      &--num { @include hidden; }
      &--state { float:left; width:auto; margin-right:20px; }
      &--date { font-size:16px; margin-bottom:2px; }
      &--type { padding-left:0; }
    }
  }
}
.reservation-body { @include block; font-size:16px; line-height:1.3; margin:0 40px;text-align: justify; font-weight:300;
  &__terms { display:inline-block; color:#000000; font-weight:400; padding:29px 0;
    &--hide { display:none; }
  }
  &__describes { display:inline-block; width:25%; color:#666666; padding:29px 0; margin:0; word-break:break-all;
    &--full { width:100%; border-top:1px dashed #d6d6d6; padding-top:50px; padding-bottom:50px; line-height:1.6; }
  }
  @media only screen and (max-width:$tablet-size) { 
    font-size:14px; text-align:left; margin-left:20px; margin-right:20px; margin-top:5px; margin-bottom:22px; 
    &__terms { float:left; width:57px; clear:both; padding:0; margin-top:10px; }
    &__describes { display:block; overflow:hidden; padding:0; width:auto; margin-top:10px; 
      &--full { margin-top:15px; padding-top:20px; }
    }
  }
}

.reservation-btn-group { display:table; margin:0 auto 60px;
  @media only screen and (max-width:$tablet-size) {
    width:calc(100% - 10px - 20px); margin:0 10px 30px 20px;
  }
}

.reservation-btn { box-sizing:border-box; float:left; width:130px; height:40px; margin-right:10px; border-radius:20px; border:1px solid #999; background-color:#fff; color:#666; text-align:center; line-height:38px; text-decoration:none; 
  &:last-child { margin-right:0; }
  &:before { display:inline-block; vertical-align:middle; width:21px; height:21px; margin-top:-4px; margin-right:7px; background:url(../images/mypage/reservation-icon.png) no-repeat; background-size:63px auto; content:''; }
  &--cancel { 
    &:before { background-position:0 0; }
  }
  &--change { border-color:$orange; color:$orange; 
    &:before { background-position:-21px 0; }
  }
  &--lecture { border-color:$orange; background-color:$orange; color:#fff; 
    &:before { background-position:-42px 0; }
  }
  @media only screen and (max-width:$tablet-size) {
    width:calc(100% - 10px); 
    &:before { } 
    &--cancel { width:calc(50% - 10px);
      &:before { background-position:0 0; }
    }
    &--change { width:calc(50% - 10px);
      &:before { background-position:-21px 0; }
    }
    &--lecture { margin-bottom:10px;
      &:before { background-position:-42px 0; }
    }
  }
}

.reservation-label { display:inline-block; font-size:16px; width:100px; height:40px; line-height:38px; box-sizing:border-box; border:1px solid #666; background-color:#fff; color:#666; text-align:center; 
  &--orange { color:$orange; border-color:$orange; }
  &--fill { background-color:#efefef; border-color:#efefef; }
  @media only screen and (max-width:$tablet-size) { 
    width:75px; font-size:14px; 
  }
}

.access-code { text-decoration: none; font-weight: $medium; color:$orange; }

// 회원정보관리 수정
.mypage-form-group { width:340px; 
  @media only screen and (max-width:$tablet-size) { 
    width:100%;
  }
}