.notice-col-nth-1 { width:110px }
.notice-col-nth-2 { }
.notice-col-nth-3 { width:160px }
.notice-col-nth-4 { width:160px }

@media only screen and (max-width:$tablet-size) {
  .notice-col-nth-1 { width:0; white-space:nowrap;}
  .notice-col-nth-2 { }
  .notice-col-nth-3 { width:7em }
  .notice-col-nth-4 { width:0; white-space:nowrap; }
}