.product-wrap { display:table; width:100%; height:440px; margin-top:60px; table-layout:fixed;
  &__col { display:table-cell; height:inherit; vertical-align:top; }
  @media (max-width: $tablet-size){ 
    display:block; width:auto; height:auto; margin-top:29px; 
    &__col { display:block; height:auto; }
  }
}

.product-photo { display:table-cell; box-sizing:border-box; width:1%; height:inherit; border:1px solid #d6d6d6; background-color:#fff; vertical-align:middle; text-align:center; 
  &__img { max-width:100%; max-height:100%; }
  @media (max-width: $tablet-size){ 
    height:calc(((100vw - 30px)/100) * 75.86);
    &__img { max-width:calc(100% - 30px); max-height:calc(100% - 30px); }
  }
}

.product-info { position:relative; margin-left:50px; height:100%; word-break:keep-all;
  &__summary { margin:14px 0 0 0; color:#666; font-size:24px; font-weight:300; line-height:1.5; }
  &__btn-group { position:absolute; left:0; bottom:0; }
  @media (max-width: $tablet-size){
    margin-top:31px; margin-left:0; padding-bottom:40px; border-bottom:1px solid #d6d6d6; 
    &__summary { margin-top:9px; font-size:18px; }
    &__btn-group { position:static; margin-top:36px; }
  } 
}

.product-reference-heading { margin:0; font-size:14px; color:#222; font-weight:500; line-height:1.3;
  &--next { margin-top:50px; }
  @media (max-width: $tablet-size){ 
    font-size:13px;
    &--next { margin-top:30px;}
  }
}