.reservation-wrap { position:relative; overflow: hidden;
  &:before { display:block; content:''; width:100%; height:0; border-top:2px solid $black-body; }
}

.calendar { float:left; width:810px; box-sizing: border-box; padding-right:40px; padding-top:20px;
  & .fc-toolbar.fc-header-toolbar { line-height: 0; margin-bottom:20px;
    & h2 { margin-left:14px; margin-right:14px; line-height:44px; font-size:32px; color:$black-tit; font-weight: $medium; }
    & .fc-button { width:45px; height:45px; position:relative; border:0; background-color: #fff; background-image: none; border-radius: 0; box-shadow: none; font-size:0;
      &.fc-prev-button:before { content:''; width:15px; height:27px; position:absolute; left:0; top:0; right:0; bottom:0; margin:auto; background-image: url("../images/icon/calendar-arrow-icon.png"); }
      &.fc-next-button:before { content:''; width:15px; height:27px; position:absolute; left:0; top:0; right:0; bottom:0; margin:auto; background-image: url("../images/icon/calendar-arrow-icon.png"); background-position: -15px 0; }
    }
  }
  & .fc-day-header { height:40px; vertical-align: middle; font-size:14px; font-weight: $light; text-transform: uppercase; background-color: #f5f5f5; color:$black-tit; }
  & .fc-day-top { padding:7px 10px; }
  &#calendar.fc-unthemed td { border-color:#d6d6d6; cursor: pointer; }
  &#calendar .fc-day-number { float:none; color:#666; font-weight: $light; }
  &.fc td.fc-today{ background: #fff5f2; }
  &#calendar .fc-highlight { background: $orange; }
  &#calendar .fc-basic-view .fc-body .fc-row { min-height: 2em; }
  @media (max-width: $tablet-size){ width:100%; padding-right:0; padding-top:15px;
    & .fc-toolbar.fc-header-toolbar { margin-bottom:14px;
      & h2 { margin-left:7px; margin-right:7px; line-height:25px; font-size:16px; }
      & .fc-button { width:25px; height:25px;
        &.fc-prev-button:before { content:''; width:7px; height:13px; background-size: 15px auto; background-repeat: no-repeat; }
        &.fc-next-button:before { content:''; width:7px; height:13px; background-size: 15px auto; background-position: -8px 0; background-repeat: no-repeat; }
      }
    }
    & .fc-day-header { height:25px; font-size:11px; font-weight: $regular; }
    & .fc-day-top { padding:0 5px; }
    &#calendar .fc-day-number { font-size:11px; }
  }
}
.detail-setting { float:left; width:370px; height:655px; padding:28px 20px 30px; box-sizing: border-box; border-width:0 1px 1px 1px; border-style:solid; border-color:#d6d6d6;
  &__item {
    &+& { margin-top:30px; padding-top:28px; border-top:1px solid #d6d6d6; }
  }
  &__title { font-size:16px; font-weight: $medium; color:$black-tit; }
  &__desc { margin-top:5px; font-size:14px; font-weight: $light; color:#666; }
  &__textarea { width:100%; height:210px; margin-top:17px; padding:15px 18px; box-sizing:border-box; resize: none; border-radius: 0; font-size:16px; color:#666; border:1px solid #c2c7ca; background-color: #f4f7f8; -webkit-appearance: none;  transition:border .3s ease-in-out;
   &:focus { outline:none; border-color:#a8acaf; }
  }
  @media (max-width: $tablet-size){ width:100%; height:auto; padding:18px 15px 20px; margin-top:20px; border-width:1px;
    &__item {
      &+& { margin-top:20px; padding-top:17px; }
    }
    &__desc { margin-top:5px; font-size:12px; }
    &__textarea { height:150px; margin-top:13px; padding:8px 10px; font-size:14px; }
  }
}
.select-type { overflow: hidden; text-align: justify; margin-bottom:-1.25em; margin-top:17px; font-size:0;
  $this: &;
  &:after { display:inline-block; content: ''; width:100%; }
  &__wrap { position:relative; display:inline-block; width:160px; height:40px; box-sizing: border-box; margin:0 auto; }
  &__wrap2 { position:relative; display:inline-block; width:160px; height:55px; box-sizing: border-box; margin:0 auto;
    &--next { margin-top:10px; }
  }
  &__radio { position:absolute; left:0; top:0; width:0; height:0; overflow: hidden; opacity: 0; }
  &__label { display:table-cell; text-align: center; width:1%; height:inherit; font-size:18px; vertical-align: middle; border:1px solid #999; border-radius: 40px; box-sizing: border-box; cursor:pointer; transition:border-color .2s ease-in-out,color .2s ease-in-out; 
    #{$this}__radio:disabled+& { border-color:#efefef; background-color: #efefef; color:#999; cursor: not-allowed; }
    #{$this}__radio:checked+& { border-width:2px; border-color:$orange; color:$orange; }
    #{$this}__wrap2 & { line-height: 1; }
  }
  &__font-sm { font-size:12px; color:$black-body; letter-spacing: -0.05em; }
  @media (max-width: $tablet-size){
    display:table; table-layout: fixed; width:100%; margin-top:13px; margin-left:-5px; margin-right:-5px; margin-bottom:0; text-align: center;
    &:after { display:none; }
    &__wrap { display:table-cell; width:1%; padding:0 5px; }
    &__wrap2 { display:table-cell; width:1%; padding:0 5px; vertical-align: top; }
    &__label { font-size:16px;
      #{$this}__wrap2 & { padding-left:5px; padding-right:5px; }
    }
  }
}

.time-content {
  &__header { display:table; margin-bottom:15px; }
  &__date { display:table-cell; width:1%; font-size: 32px; font-weight: $medium; color:$black-tit; }
  &__info { display:table-cell; width:1%; font-size:16px; font-weight: $light; color:#666; text-align: right; vertical-align: middle; }
  &__body { padding:40px 0; border-top:2px solid $black-tit; border-bottom:1px solid #d6d6d6; }
  @media (max-width: $tablet-size){
    &__header { display:block; text-align: justify; margin-bottom:-16px;
      &:after { content:''; display:inline-block; width:100%; }
    }
    &__date { display:inline-block; width:auto; font-size: 16px; }
    &__info { display:inline-block; width:auto; font-size:12px; }
    &__body { padding:20px 0; border-top:1px solid $black-tit; }
  }
}
.time-info-item { display:inline-block; position:relative; padding-left:40px; height:30px; line-height: 30px;
  &+& { margin-left:20px; }
  &:before { position:absolute; left:0; top:0; content:''; box-sizing: border-box; display:block; width:30px; height:30px; }
  &--unable:before { border:1px solid #efefef; background-color: #efefef; }
  &--able:before { border:2px solid $orange; background-color: #fff; }
  @media (max-width: $tablet-size){ padding-left:20px; height:15px; line-height: 15px;
    &+& { margin-left:10px; }
    &:before { width:15px; height:15px; }
  }
}

.item-align-justify { text-align: justify; line-height: 0; margin-bottom:-6px;
  &:before { content: ''; display: block; margin-top: -20px; }
  &:after { display:inline-block; content: ''; width: 100%; }
  @media (max-width: $tablet-size){ margin:0 -5px -6px;
    &:before { margin-top: -10px; }
  }
}
.time-selector { position:relative; display:inline-block; width:150px; height:40px; box-sizing: border-box; margin:20px auto 0;
  $this: &;
  &__radio { position:absolute; left:0; top:0; width:0; height:0; overflow: hidden; opacity: 0; }
  &__label { display:table-cell; text-align: center; width:1%; height:inherit; font-size:18px; color:$black-body; vertical-align: middle; border:2px solid $orange; box-sizing: border-box;cursor:pointer; transition:background .1s ease-in-out, color .1s ease-in-out;
    #{$this}__radio:checked+& { border-color:$orange; background-color:$orange; color:#fff; }
    #{$this}__radio:disabled+& { border-color:#efefef; background-color:#efefef; color:#999; cursor:not-allowed; }
  }
  @media (max-width: $tablet-size){ width:50%; height:30px; margin-top:10px; float:left; padding:0 5px;
    &__label { font-size:14px; }
  }
}