html,
body { height:100%; }
body { overflow:auto; margin:0; min-width:$site-width; line-height:1.3; font-family:$font-ko;
  @media (max-width:$tablet-size) {
    min-width:auto; overflow-x:hidden;
  }
}

// layout
.wrapper { overflow: hidden; display: table; table-layout: fixed; width: 100%; height: 100%; opacity:0;
  &__row { display:table-row; width: 100%;
    &--height-full { height: 100%; }
  }
}

.site-header { position:fixed; top:0; left:0; right:0; z-index:900; height:80px; margin:0 auto; box-sizing: border-box; background-color:#fff; border-bottom:1px solid #f89b6c;
  @media (min-width: $tablet-size) and (max-width: $site-width) {
    position:absolute; min-width: 1180px;
  }
  @media (max-width:$tablet-size) {
    position:static; height:45px; margin:0 auto -45px; border-bottom:0;
  }
}

.site-container { @include block;
  @media (max-width:$tablet-size) {

  }
}

.site-content { @include block; margin:80px auto 0; padding:0 0 150px; max-width:$site-width;
  @media (max-width:$tablet-size) {
    margin:45px auto 0; padding:0 15px 75px; padding-left: calc(15px + env(safe-area-inset-left)); padding-right: calc(15px + env(safe-area-inset-right));
  }
}

.top-logo { z-index:60; position:absolute; top:24px; left:50%; margin-top:0; margin-right:0; margin-bottom:0; margin-left:-($site-width/2); width:191px;
  &__link { display:block; }
  &__img { max-width:100%; }
  @media (max-width:$tablet-size) {
    width:114px; top:0; margin-left:-57px; height:inherit; line-height: 0;
    &__link { height:inherit; box-sizing: border-box; padding-top:13px; }
    &__img { width:100%; }
  }
}

.service { z-index:60; position:absolute; top:20px; right:50%; margin-right:-($site-width/2);
  &__list { margin:0; padding:0; overflow:hidden; }
  &__item { float:left; list-style: none; height:40px;
    &+& { margin-left:10px; }
  }
  &__link { display:table-cell; text-decoration: none; height:inherit; box-sizing: border-box; border:1px solid $orange; vertical-align: middle; border-radius: 20px;
    &:before { content:''; display:inline-block; width:1%; height:22px; vertical-align: top; }
    &--video-lecture { width:130px; color:$orange; padding:0 20px; font-size:16px;
      &:before { width:20px; margin-right:8px; vertical-align: bottom; background-image: url("../images/layout/icon-camera.png"); background-repeat: no-repeat; }
    }
    &--logout { width:84px; text-align: center; background-color:$orange; font-size:0;
      &:before { width:18px; background-image: url("../images/layout/icon-lock.png"); background-repeat: no-repeat; background-size:17px 20px; }
    }
  }
  @media (max-width:$tablet-size) {
    top:0; right:0; margin-right:0; padding:10px 15px;
    &__item { height:25px;
      &+& { margin-left:0; }
      &--m-hide { display:none; }
    }
    &__link {
      &--logout { width:25px; height:25px; border-radius: 25px;
        &:before { width:11px; height:13px; background-size:100% auto; }
      }
    }
  }
}

.site-gnb { position:absolute; left:0; right:0; top:0; z-index:50; height:80px; color:$brown;
  $this:&;
  &__tit { @include hidden; }
  &__list { width:$site-width - 462px; height:inherit; margin:0 auto; padding:0; text-align:justify; list-style:none; line-height:1.3; font-size:0;
    &:after{ display:inline-block; width:100%; content:''; }
  }
  &__item { position: relative; display:inline-block; float:left; height:inherit; white-space:normal; font-size:18px; text-align:center;
    &:before { display:inline-block; width:3px; height:3px; background-color: #b4b6b8; content:''; position:absolute; left:0; top:50%; margin:-1px 0 0 -1px; }
    &:first-child:before { display:none; }
  }
  &__link { position:relative; z-index:10; display:table-cell; height:inherit; padding:0 30px; color:inherit; text-decoration:none; vertical-align:middle;
    #{$this}__item.active & { color:$orange; }
  }
  &__list2 { overflow:hidden; position:absolute; z-index:9; width:100%; max-height:0; margin:-80px 0 0 0; padding:0 0 0 0; list-style:none; color:#767676; font-size:14px; line-height:1.3;
    &:before { display:block; content:''; height:90px; }
    &:after { display:block; content:''; height:20px; }
    #{$this}__item.is-over & { max-height:1000px; animation:gnb-mobile-link-on .3s; }
  }
  &__item2 { text-align:center;
    #{$this}__item.is-over & { animation:gnb-mobile-link-on 1s; }
  }
  &__link2 { display:table-cell; width:1%; padding:7px 0; color:inherit;text-decoration:none; vertical-align:middle; }
  &__active-bar { width:auto; height:0; border-top:3px solid $orange; position:absolute; bottom:0; transition:left ease-out .3s, width ease-out .3s; }
  @media (max-width:$tablet-size) {
    background:none; min-width:100%; height:auto; position: static; min-height:calc(100vh - 46px - 45px);
    &__tit { @include hidden; }
    &__list { width:auto; height:auto; border-bottom:1px solid #d6d6d6; }
    &__item { display:block; float:none; width:100%; margin-top:0; text-align:left; font-size:16px; font-weight:500; color:$black-tit;
      &:before { display:none; }
      &+& { border-top:1px solid #d6d6d6; }
    }
    &__link { width:1%; padding:0 15px; height:50px; text-transform:none; position:relative;
      &:after { display:inline-block; content:''; width:11px; height:11px; border-bottom:1px solid #888; border-right:1px solid #888; background:none; transform:rotate(-45deg);
        position:absolute; right:20px; top:18px;
      }
    }
    &__list2 { position: static; background-color:#efefef; font-size:14px; transition:max-height .3s; margin-top:0; background-image:none;
      &:not(n) { background-image:none; }
      &:before { display:none; }
      &:after { display:none; }
      #{$this}__item.is-over & { transition:max-height 1s; }
    }
    &__item2 { text-align:left;
      &.active { background-color: $orange; }
    }
    &__link2 { height:50px; padding:0 15px; border-top:1px solid #d6d6d6;
      #{$this}__item2.active & { color:#fff; }
    }
    &__active-bar { display:none; }
  }
}

@keyframes gnb-mobile-link-off {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes gnb-mobile-link-on {
  0% { opacity:0; }
  100% { opacity:1; }
}

.site-footer { @include block; display:table; height:196px; position: relative; width:$site-width; margin:0 auto; color:#888888;
  &:after { z-index:-1; position:absolute; display:block; box-sizing:border-box; height:auto; top:0; left:-1000px; right:-1000px; bottom:0; margin:auto; border-top:1px solid #d8d8d8; background-color:#f2f2f2; content:''; }
  @media (max-width:$tablet-size) {
    display:block;width:auto;height:auto;padding:0 15px; border-top:1px solid #d8d8d8; background-color:#f2f2f2;
    &:after { display:none; }
  }
}

.footer-address { overflow:hidden; font-size:13px; color:#666; font-weight:300; line-height:1.3;margin-top:22px; word-break:keep-all; font-style:normal;
  &__item { float:left; margin-right:29px;  margin-top:7px; 
    &--clear { clear:left;}
  }
  &__highlight2 {	color:#222222;}
  &__highlight { font-weight:500; text-transform:uppercase; }
  &__link {	text-decoration:none; color:inherit; }
  @media (max-width:$tablet-size) { 
    font-size:12px; margin-top:7px;
    &__item { margin-right:19px; margin-top:6px; }
    &__item--mobile-clear { clear:left; }
  }
}

.footer-information { margin-top:7px; font-size:13px; color:#888; font-weight:300; line-height:1.3; word-break:keep-all;
  &__link {	text-decoration:none; color:inherit; white-space:nowrap;
    &:focus,
    &:hover { text-decoration:underline; }
  }
  @media (max-width:$tablet-size) {
    font-size:12px; 
  }
}

.footer-copyright { margin-top:14px; margin-bottom:27px; font-size:13px; color:#888; font-weight:300; line-height:1.3;
  @media (max-width:$tablet-size) {
    float:left; margin-bottom:13px; font-size:12px; 
  }
}
.footer-logo { position:absolute; top:0; bottom:0; right:0; width:60px; background:url(../images/layout/footer-logo.png) no-repeat 100% 50%; background-size:contain; 
  @media (max-width:$tablet-size) {
    float:right; position:static; width:34px; height:29px; 
  }
}

.footer-banner { position:absolute; right:100px; bottom:0;
  &__img { vertical-align:top; height:130px; }
  @media (max-width:$tablet-size) {
    display:block; position:static; margin-top:50px; padding-right:0; text-align:center;
    &__img { max-width:370px; width:100%; height:auto; }
  }
}

.mobile-header {
  @media (max-width:$tablet-size) { background-color:#fff; border-bottom:1px solid #f89b6c; box-sizing: border-box;
    position:fixed; top:0; left:0; right:0; height:45px; z-index:900;
  }
}

.mobile-button-open { opacity:0; position:absolute; top:0; left:0; width:45px; height:inherit; margin:0; padding:15px; border:none; font-size:0; background-color:transparent; text-align:left; overflow:hidden; white-space:nowrap; cursor:pointer; transition:opacity 1s; box-sizing: border-box;
  &__bread { display:inline-block; width:100%; height:100%; position:relative; border-top:1px solid $brown; box-sizing: border-box;
    &:before { content:''; display:inline-block; width:50%; border-top:1px solid $brown; position:absolute; top:6px; }
    &:after { content:''; display:inline-block; width:70%; border-top:1px solid $brown; position:absolute; bottom:0; }
  }

  @media (max-width:$tablet-size) {
    opacity:1; left: env(safe-area-inset-left);
  }
  .mobile-header.is-fixed & {
    &:before,
    &:after { border-color:#000; }
  }
}

.mobile-button-close { display:none;
  @media (max-width:$tablet-size) {
    display:block; position:absolute; top:0; right:0; width:46px; height:45px; margin:0; padding:0; border:none; background-color:transparent; text-indent:100%; text-align:left; overflow:hidden; white-space:nowrap; cursor:pointer;
    &:before,
    &:after { position:absolute; top:0; left:0; bottom:0; right:0; width:23px; height:0; margin:auto; border-top:1px solid #000; content:''; }
    &:before { transform:rotate(45deg) }
    &:after { transform:rotate(-45deg) }
  }
}

.mobile-menu {
  @media (max-width:$tablet-size) {
    overflow:auto; z-index:910; position:fixed; right:100%; top:0; bottom:0; width:230px; transform:translateX(0); transition:transform .3s ease-in; -webkit-overflow-scrolling:touch;background-color: #fff;
    &.is-on { transform:translateX(100%); }
  }
}

.mobile-menu-logo { display:none;
  @media (max-width:$tablet-size) {
    display:block; width:118px; height:20px; margin:0; padding-left:15px; padding-top:13px; padding-bottom:13px;
    &__link { display:block; line-height: 0; height:inherit; }
    &__img { height:100%; }
  }
}

.mobile-service { display:none;
  @media (max-width:$tablet-size) { display:block; background-color: $orange;
    &__list { margin:0; padding:0; overflow:hidden; }
    &__item { float:left; position:relative; list-style: none; width:50%;
      &+&:before { content:''; width:0; height:100%; display:inline-block; border-left:1px solid #f89b6c; position:absolute; left:0; }
    }
    &__link { display:table-cell; text-decoration: none; color:#fff; width:1%; height:45px; padding:0 16px; box-sizing: border-box; font-size:12px; vertical-align: middle;
      &:before { content:''; display:inline-block; margin-right:11px; }
      &--video-lecture {
        &:before { width:15px; height:16px; vertical-align: top; background-image: url("../images/layout/icon-camera-mobile-service.png"); background-repeat: no-repeat; background-size:15px 16px; }
      }
      &--logout {
        &:before { width:13px; height:15px; vertical-align: top; background-image: url("../images/layout/icon-lock-mobile-service.png"); background-repeat: no-repeat; background-size:13px 15px; }
      }
    }
  }
}

.mobile-menu-dimmed { position: fixed; background-color:rgba(0,0,0,.6);top: 0; left: 0; right: 0; bottom: 0; z-index: 905; }