<%
let gnb = locals.require('gnb.json')
var page = 'notice'
let sub = '공지사항'
let heading = (sub == '') ? gnb[page].title.ko : sub -%>

<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') -%>

<%- locals.widget('_page-header.ejs', {title: gnb[page].title.ko}) %>

<div class="u-content-title-wrap u-content-title-wrap--next">
  <h1 class="u-content-title"><%- heading %></h1>
</div>

<table class="u-board-list">
  <thead>
    <tr>
      <th class="u-board-list__th notice-col-nth-1" scope="col">번호</th>
      <th class="u-board-list__th notice-col-nth-2" scope="col">제목</th>
      <th class="u-board-list__th notice-col-nth-3" scope="col">등록일</th>
      <th class="u-board-list__th notice-col-nth-4" scope="col">조회수</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i=10;i>0;i--) { %>
    <tr>
      <td class="u-board-list__td"><%- i %></td>
      <td class="u-board-list__td u-board-list__td--text-left"><a href="<%- gnb[page].children['공지사항 상세'].link %>.html" class="u-board-list__link u-board-list__word-wrap">언론·출판은 타인의 명예나 권리 또는 공중도덕이나 사회윤리를 침해하여서는 아니된다. 언론·출판이 타인의 명예나 권리를 침해한 때에는 피해자는 이에 대한 피해의 배상을 청구할 수 있다.</a></td>
      <td class="u-board-list__td">2018.07.02</td>
      <td class="u-board-list__td">10000</td>
    </tr>
    <% } -%>
  </tbody>
</table>
<!-- //u-board-list -->
  
<%- locals.widget('_pagination.ejs', {option:'u-pagination--next'}) %>