<%
let gnb = locals.require('gnb.json')
var page = 'notice'
let sub = '공지사항'
let heading = (sub == '') ? gnb[page].title.ko : sub -%>

<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') -%>

<%- locals.widget('_page-header.ejs', {title: gnb[page].title.ko}) %>

<div class="u-content-title-wrap u-content-title-wrap--next">
  <h1 class="u-content-title"><%- heading %></h1>
</div>

<div class="u-board-view">
  <div class="u-board-view__head">
    <h2 class="u-board-view__title">혼인과 가족생활은 개인의 존엄과 양성의 평등을 기초로 성립되고 유지되어야 하며, 국가는 이를 보장한다. 국가는 과학기술의 혁신과 정보 및 인력의 개발을 통하여 국민경제의 발전에 노력하여야 한다.</h2>
    <div class="u-board-view__info">
      <div class="u-board-view__item u-board-view__item--left">
        <div class="u-board-view__bundle">
          <span class="u-board-view__term u-desktop-br">첨부파일</span>
          <span class="u-board-view__describe">
            <a href="" class="u-board-view__attach">헌법재판소 재판관은 정당에 가입하거나 정치에 관여할 수 없다.pdf</a>
            <a href="" class="u-board-view__attach">헌법재판소 재판관은 정당에 가입하거나 정치에 관여할 수 없다.pdf</a>
          </span>
        </div>
      </div>
      <div class="u-board-view__item u-board-view__item--right">
        <div class="u-board-view__bundle">
          <span class="u-board-view__term">조회</span>
          <span class="u-board-view__describe">99999</span>
        </div>
        <div class="u-board-view__bundle u-board-view__bundle--next">
          <span class="u-board-view__term">등록일</span>
          <span class="u-board-view__describe">0000.00.00</span>
        </div>
      </div>
    </div>
  </div>
  <div class="u-board-view__body">
    <div class="u-board-article">
      <p>통신·방송의 시설기준과 신문의 기능을 보장하기 위하여 필요한 사항은 법률로 정한다. 모든 국민은 신속한 재판을 받을 권리를 가진다. 형사피고인은 상당한 이유가 없는 한 지체없이 공개재판을 받을 권리를 가진다.</p>

      <p>정당의 설립은 자유이며, 복수정당제는 보장된다. 국가는 재해를 예방하고 그 위험으로부터 국민을 보호하기 위하여 노력하여야 한다. 국가안전보장에 관련되는 대외정책·군사정책과 국내정책의 수립에 관하여 국무회의의 심의에 앞서 대통령의 자문에 응하기 위하여 국가안전보장회의를 둔다.</p>
      
      <p>광물 기타 중요한 지하자원·수산자원·수력과 경제상 이용할 수 있는 자연력은 법률이 정하는 바에 의하여 일정한 기간 그 채취·개발 또는 이용을 특허할 수 있다.</p>
      
      <p>국무총리는 국회의 동의를 얻어 대통령이 임명한다. 국회는 국정을 감사하거나 특정한 국정사안에 대하여 조사할 수 있으며, 이에 필요한 서류의 제출 또는 증인의 출석과 증언이나 의견의 진술을 요구할 수 있다.</p>
    </div>
    <!-- //u-board-article -->
  </div>
</div>
<!-- //u-board-view -->

<div class="u-btn-group u-btn-group--mobile-expansion u-btn-group--next">
    <div class="u-btn-group__item"><a href="<%- gnb[page].children['공지사항'].link %>.html" class="u-btn">목록</a></div>
  </div>