<% let base = locals.require('base.json') -%>
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"><!-- //20180323-->
  <title><%- locals.blocks.title %> <%- base.name %></title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <!-- add 180406 SEO 및 favicon -->
  <meta name="description" content="GSK 제품과 관련된 최신 정보 및 다양한 프로그램을 빠르고 편리하게 전달받을 수 있는 서비스입니다.">
  <meta name="keywords" content="GSK, MediCall, 메디콜, 발트렉스, 아바미스">
  <meta property="og:title" content="<%- base.name %>">
  <meta property="og:url" content="<%- base.url %>">
  <meta property="og:image" content="">
  <meta property="og:description" content="GSK 제품과 관련된 최신 정보 및 다양한 프로그램을 빠르고 편리하게 전달받을 수 있는 서비스입니다."/>
  <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
  <!-- //add 180406 SEO 및 favicon -->
  <link rel="stylesheet" href="../../libs/normalize/normalize.css">
  <link rel="stylesheet" href="../../libs/notokr/css/notokr.css">
  <link rel="stylesheet" href="../../libs/open-sans/css/open-sans.css"><!-- add 20180406 Open Sans 폰트 -->
  <link rel="stylesheet" href="../../css/common.css">
  <link rel="stylesheet" href="../../css/layout.css">
  <%- locals.blocks.link %>
  <script src="../../libs/jquery/jquery.min.js"></script>
  <%- locals.blocks.headerScript %>
</head>
<body class="<%- locals.blocks.page %>">
  <% if (locals.blocks.page == 'main' && locals.blocks.sub == '') { -%>
    <!-- del 20180406 띠배너
    <div class="top-banner">
      <a href="https://health.gsk.kr/" target="_blank" class="top-banner__link">
        <img class="top-banner__img top-banner__img--desktop" src="../../images/main/top-banner-desktop.png" alt="">
        <img class="top-banner__img top-banner__img--mobile" src="../../images/main/top-banner-mobile.png" alt="">
      </a>
      <button type="button" class="top-banner__close">배너 닫기</button>
    </div> 
    -->
  <% } -%>
  <div class="wrapper">
    <% if(locals.blocks.heading != '로그인') { -%>
    <div class="wrapper__row">
      <%- locals.widget('_header.ejs', {base: base}) %>
    </div>
    <% } -%>
    <div class="wrapper__row wrapper__row--height-full">
      <div class="site-container">
        <% if (locals.blocks.page == 'main') { -%>
        <div class="site-main">
          <%- locals.body %>
        </div>
        <% } else {-%>
        <div class="site-content">
          <%- locals.body %>
        </div>
        <% } -%>
        <!-- //contents -->
      </div>
    </div>
    <div class="wrapper__row">
      <%- locals.widget('_footer.ejs', {base: base}) %>
    </div>
  </div>
  <script src="../../js/common.js"></script>
  <%- locals.blocks.footerScript %>
</body>
</html>