@import 'variables/variables';

@import 'mixins/mixins';

.main .wrapper { min-height: 700px;
  @media (max-width:$tablet-size) { min-height: 550px; }
}
.site-container { display:table-cell;height:100%; }
.site-main { height:100%; }

.login-wrap { position:relative; height:100%; min-height:1020px; background:url(../images/login/login-bg.jpg) no-repeat 50% 50%;
  @media only screen and (max-width:$tablet-size) {
    min-height:600px;
  }
}

.login-logo {	position:absolute; width:191px; height:32px; top:-800px; left:0; right:0; bottom:0; margin:auto; text-align:center;
  &__img { max-width:100%; max-height:100%; vertical-align:top;}
  @media only screen and (max-width:$tablet-size) { 
    height:23px; top:20px; bottom:auto;
  }
}


.login-box {position:absolute; top:60px; left:0; bottom:0; right:0; width:980px; height:438px; margin:auto; box-shadow:0 0 40px rgba(0,0,0,0.3);
  &__text-area { width:560px;	height:100%; float:left; background-color:rgba(243, 102, 51, 0.9); color:#fff; font-weight:300; }
  &__form-area { width:420px; height:100%; float:left; background-color:#fff; color:#333; }
  @media only screen and (max-width:$tablet-size) { 
    top:50%; left:50%; bottom:auto; right:auto; width:100%; height:auto; max-width:400px; margin-top:15px; padding:0 15px 0; box-shadow:none; transform: translate(-50%,-50%);box-sizing:border-box;
    &__text-area { display:block; float:none; width:auto; height:auto; background-color:transparent; text-align:center; }
    &__form-area { display:block; float:none; width:auto; height:auto; }
  }
}
.login-info {	display:table; width:100%;height:100%; box-sizing:border-box; padding:42px 40px 48px; line-height:1.35;
  &__row { display:table-row;	
    &--full { height:100%; }
  }
  &__text {	font-size:30px; }
  &__text2 {font-size:60px;	}
  //&__text3 { font-size:18px; }
  @media only screen and (max-width:$tablet-size) {
    display:table-cell; width:1%; height:inherit; padding:30px 0 5px; text-align:center; vertical-align:middle;
    // display:table-cell; width:auto; height:auto; padding:0 40px; vertical-align:middle;
    &__row { display:block; // display:table-cell; width:1%;
      &--mobile-hide { display:none; }
      &--full { height:auto; }
    }
    &__text {	font-size:18px; }
    &__text2 {font-size:33px;	}
    &__text3 { margin-top:40px; font-size:13px;	}
  }
}
.login-form {	display:table; width:100%; height:100%; box-sizing:border-box; padding:38px 55px 52px; 
  &__row { display:table-row; 
    &--full { height:100%; }
  }
  &__tit { margin:0; font-size:48px; text-transform:uppercase; font-weight:300; line-height:1; margin-left:-3px; }
  &__summary { margin-top:10px; font-size:14px; color:#f36633;	font-weight:300; }
  &__input-text {	appearance: none; -moz-appearance: textfield; box-sizing:border-box; width:100%; border:none; border-radius:0; border-bottom:1px solid #e9e9e9; height:44px; padding:10px 0; line-height:23px; font-size:18px; color:#333; transition:border .3s ease-in;
    &--margin { margin-top:12px; }
    &:focus { outline:none; border-color:#b9b9b9;}
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
    	-webkit-appearance: none;
    	margin: 0;
    }
  }
  &__button-submit { @include button;	display:block; width:100%; height:50px; background-color:#f36633; border-radius:25px; text-align:center; color:#fff; line-height:1; font-size:18px; text-transform:uppercase; font-weight:500; 
    &--margin { margin:25px 0 14px; }
  }
  &__label-checkbox { display:inline-block; font-size:14px; color:#666; font-weight:300; }
  &__input-checkbox { appearance: none; width:20px; height:20px;border-radius:0; border:0; background:url(../images/login/login-checkbox.png) no-repeat 0 -30px; vertical-align:top; 
    &:focus { outline:none; background-position:-20px -30px; }
    &:checked { background-position:-40px -30px; }
    &::-ms-check { opacity:0; }
  }
  @media only screen and (max-width:$tablet-size) {
    padding:30px 25px; height:auto; box-shadow:0 0 40px rgba(0,0,0,0.3);
    &__tit { font-size:25px; }
    &__summary { margin-top:5px;  font-size:12px; }
    &__input-text { height:42px; font-size:15px; line-height:21px;
      &--margin { margin-top:3px; }
    }
    &__button-submit { height:40px; border-radius:20px; font-size:16px;
      &--margin { margin:15px 0 15px; }
    }
    &__label-checkbox { font-size:12px; }
    &__input-checkbox { width:15px; height:15px; background-position:0 0; background-size:auto 30px;
      &:focus { background-position:-15px 0; }
      &:checked { background-position:-30px 0; }
    }
  }
}

.login-contact { margin:15px 0 0; line-height: 0; font-size: 0;
  &:after { display:inline-block; width:100%; content:''; }
  &__item {	display:table-cell; width:1%; vertical-align: top;
    &--text-right { text-align: right; }
  }
  &__text { white-space: nowrap; font-size:16px; line-height: 1.375;
    //&+& { margin-top:2px; }
    &--type-1 { font-weight:$bold; color:#f36633; letter-spacing:-0.025em; margin-left:-0.025em; margin-right:0.5em; }
    &--type-2 { font-weight:$bold; color:#666; letter-spacing:-0.05em; margin-left:-0.05em; }
    &--type-3 { font-weight:$light; color:#666; }
  }
  &__link { color:inherit; text-decoration: none; }
  @media only screen and (max-width:$tablet-size) {
    margin-top:25px;
    &__text { font-size:13px;
      &--type-3 { letter-spacing:-0.05em; margin-left:-0.05em; }
    }
  }
}

.form-group { margin-top:20px;
  @media only screen and (max-width:$tablet-size){ margin-top:10px; }
}
.form-radio { display:inline-block; position:relative; cursor: pointer; vertical-align:top; height:20px; width:20px;
  & input { opacity:0; position:absolute; top:0; left:0; width:100%; height:100%; margin:0;
    &+i { float:left; position:relative; box-sizing:border-box; width:20px; height:20px; border: 1px solid #d4d4d4; background-color: #fff; border-radius:50%; }
    &:checked+i { background-color:$orange; border-color:$orange;}
    &:focus+i,
    &:hover+i { border-width:2px; border-color:$orange; }
    &:checked+i:after { position: absolute; top:0; left:0; bottom: 0; right:0; width: 10px;height: 10px;margin:auto; background-color:#fff; border-radius:50%; cursor: pointer; content: ''; }
  }
  @media only screen and (max-width:$tablet-size){ width: 15px; height:15px;
    & input {
      &+i { width:15px; height:15px; margin-top:1px; }
      &:checked+i:after { width:5px; height:5px; }
    }
  }
}
.form-inline { cursor: pointer;
  &+& { margin-left:20px; }
  @media only screen and (max-width:$tablet-size) { font-size:13px; vertical-align: top; }
}

