// 메인페이지에 사용되는 스타일 모음

@import 'variables/variables';

@import 'mixins/mixins';

.main .wrapper { position:relative; }

.top-banner { max-width:1920px; width:100%; height:70px; margin-top:-70px; overflow: hidden; position:relative;
  background-color: $orange; background-image: url("../images/main/top-banner-bg.png"); background-repeat:repeat-x; background-position: 50% 50%; background-size: auto 240px;
  &.is-show { margin-top:0; transition:margin-top ease-in-out .3s; }
  &__link { display:block; width:100%; height:inherit; }
  &__img { display:block; position:absolute; left:-1000px; right:-1000px; top:0; margin:auto;
    &--mobile { display:none; }
  }
  &__close { display:block; width:40px; height:40px; position:absolute; top:15px; right:50%; margin-right:-590px; border:0; background: none; box-shadow: none; font-size:0; cursor:pointer;
    &:before { content:''; display:block; width:100%; height:0; position:absolute; top:50%;left:0; border-top:1px solid #fff; transform: rotate(45deg); }
    &:after { content:''; display:block; width:100%; height:0; position:absolute; top:50%;left:0; border-top:1px solid #fff; transform: rotate(-45deg); }
  }
  @media (max-width:$tablet-size) { height:85px; margin-top:-85px; background-size: auto 120px;
    &__img { position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-height:100%; max-width:100%;
      &--desktop { display:none; }
      &--mobile { display:block; }
    }
    &__close { width:40px; height:40px; right:0; margin-right:0; top:0;
      &:before,
      &:after { width:50%; left:10px; }
    }
  }
}

.main .site-header { position:absolute;
  @media (max-width:$tablet-size) { position:static; }
}

.main .mobile-header {
  @media (max-width:$tablet-size) { position:absolute; }
}

.site-container {
  @media (max-width:$tablet-size) { height:100%; }
}
.site-main { display:table; table-layout: fixed; height:1000px; background-image:url("../images/main/main-bg-desktop.jpg"); background-repeat: no-repeat; background-position: 50% 0; background-size: cover;
  @media (max-width:$tablet-size) { display: block; height:auto; background-image:none; }
}

.main-wrap { display:table-cell; vertical-align: middle; width:1%; height:100%; position:relative; overflow: hidden;
  @media (max-width:$tablet-size){ display:block; width:100%; padding-top:45px; }
}

.main-intro { @include block; width:1180px; margin: 0 auto auto;
  &__tit { margin:0; font-size:40px; letter-spacing: -0.03em; color:#fff; font-weight: $regular; text-shadow: 0px 0px 5px rgba(0,0,0,0.5); }
  @media (max-width:$tablet-size){
    // display: flex; flex-flow: column nowrap; justify-content: center; align-content: center; align-items: stretch; padding:45px 15px 0; height:auto; position:absolute; left:0; top:0; right:0; bottom:220px; margin:auto; background-image:url("../images/main/main-bg-mobile.jpg"); background-position: 50% 0; background-size:cover;
    width:auto; text-align:center; padding:0; height:auto; margin:auto; background-image:url("../images/main/main-bg-mobile.jpg"); background-position: 50% 0; background-size:cover;
    &__tit { margin-top:45px; font-size:24px; text-shadow: 1px 0 2px rgba(0,0,0,0.2); }
  }
}
.main-summary { margin:13px auto 10px;
  &__text { margin:0; color:#fff; font-size:30px; font-weight: $light; line-height: 1.2; }
  &__text-bold { font-weight: $bold; }
  @media (max-width:$tablet-size){ display:block; margin:11px auto 47px; text-align:center; 
    &__text { font-size:18px; }
  }
}
.main-quick-menu { text-align: center; min-width:$site-width; overflow: hidden; margin:70px auto 0;
  $this:&;
  &__list { display:block; overflow: hidden; margin: 0 auto; padding: 0; list-style: none; height:180px; text-align: justify; max-width: 1080px;
    &:after { content:''; width:100%; display:inline-block; }
  }
  &__item { display:inline-block; width:180px; height:180px; border-radius: 90px; background-color: transparent; background-image: url("../images/blank/white-80.png");
    &.is-over { background-color: $orange; background-image: none;
      #{$this}__text { color:#fff; }
      #{$this}__icon { display:inline-block; height:53px; margin-bottom:20px; background-repeat: no-repeat; background-position: 50% bottom;
        &--about { width:48px; background-image: url("../images/main/quick-icon1-over-desktop.png"); }
        &--reservation { width:45px; background-image: url("../images/main/quick-icon2-over-desktop.png"); }
        &--reservation-list { width:38px; background-image: url("../images/main/quick-icon3-over-desktop.png"); }
        &--video-lecture { width:45px; background-image: url("../images/main/quick-icon4-over-desktop.png"); }
      }
    }
  }
  &__link { display:table-cell; width:1%; height:inherit; vertical-align: middle; text-align: center; text-decoration: none; }
  &__icon { display:inline-block; height:53px; margin-bottom:20px; background-repeat: no-repeat; background-position: 50% bottom;
    &--about { width:48px; background-image: url("../images/main/quick-icon1-normal-desktop.png"); }
    &--reservation { width:45px; background-image: url("../images/main/quick-icon2-normal-desktop.png"); }
    &--reservation-list { width:38px; background-image: url("../images/main/quick-icon3-normal-desktop.png"); }
    &--video-lecture { width:45px; background-image: url("../images/main/quick-icon4-normal-desktop.png"); }
  }
  &__text { display:inline-block; width:100%; font-size:18px; color:$brown; }
  @media (max-width:$tablet-size){ margin-top:0; min-width:auto;
    &__list { display:block; height:auto; margin-top:26px; margin-bottom:20px; 
      &:after { display:none; }
    }
    &__item { display:block; position:relative; width:auto; box-sizing:content-box; height:54px; border-radius: 0; padding: 1px 15px 0;
      &:after { width:8px; height:14px; content:''; position:absolute; right:15px + 19px; top:21px; background-image: url("../images/icon/quick-arrow-icon.png"); background-size: 8px 14px; }
      &+&:before { position:absolute; top:0; left:15px; right:15px; border-top:1px solid #d4d0ce; content:''; }
    }
    &__link { position:relative; text-align: left;
      // &:before { content: ''; border-top: 1px solid #f78f5f; position: absolute; left: 0; right: 0; top: -1px; }
      // &:after { content: ''; border-top: 1px solid #ef4221; position: absolute; left: 0; right: 0; top: 0; }
      #{$this}__item:first-child & {
        &:before,
        &:after { display:none; }
      }
    }
    &__icon { height:55px; margin-bottom:0; margin-right:3px; vertical-align: middle; background-position: 50% 50%;
      &--about { width:25px; background-size: 24px auto; }
      &--reservation { width:25px; background-size: 25px auto; }
      &--reservation-list { width:25px; background-size: 19px auto; }
      &--video-lecture { width:25px; background-size: 23px auto; }
    }
    &__text { width:auto; vertical-align: middle; }
  }
}

.main-belt { @include block; position:relative; height:250px; background-color:$orange; color:#fff; }
@media (max-width:$tablet-size){ 
  .main-belt { height:auto; padding:0 15px; }
}

.main-notice { position:absolute; top:33px; left:50%; margin-left:- (1180px/2); width:510px; }
.main-notice__tit { margin:0; font-size:24px; font-weight:500; line-height:1; }
.main-notice__list { margin:18px 0 0 0; padding:0; list-style:none; font-size:18px; line-height:1.2; }
.main-notice__item { overflow:hidden; position:relative; margin:0; padding-left:10px; padding-right:6em; white-space:nowrap; text-overflow:ellipsis; }
.main-notice__item+.main-notice__item { margin-top:11px; }
.main-notice__item:before { position:absolute; top:0.5em; left:0; width:3px; height:0; border-top:3px solid #fff; content:''; }
.main-notice__link { color:inherit;text-decoration:none; }
.main-notice__link:focus,
.main-notice__link:hover { text-decoration:underline; }
.main-notice__date { position:absolute; bottom:0; right:0; font-size:16px; }
.main-notice__btn-more { overflow:hidden; position:absolute; top:0; right:-4px; width:24px; height:24px; text-indent:-999em;}
.main-notice__btn-more:before,
.main-notice__btn-more:after { position:absolute; top:0;bottom:0;left:0;right:0;width:0;height:0;margin:auto;border-width:0;border-style:solid;border-color:#fff;content:''; }
.main-notice__btn-more:before { width:16px; border-top-width:2px; }
.main-notice__btn-more:after { height:16px; border-left-width:2px; }
@media (max-width:$tablet-size){ 
  .main-notice { position:relative; top:auto; left:auto; width:auto; margin-left:0; margin-top:24px; margin-bottom:24px;  }
  .main-notice__tit { font-size:15px; }
  .main-notice__list { margin-top:16px; font-size:13px; }
  .main-notice__item { padding-left:5px; }
  .main-notice__item:before { width:2px; border-top-width:2px ; }
  .main-notice__item+.main-notice__item { margin-top:15px; }
  .main-notice__date { font-size:12px; }
  .main-notice__btn-more { top:-4px; right:-6px;}
  .main-notice__btn-more:before { width:12px; }
  .main-notice__btn-more:after { height:12px; }
}

.main-video { @include block; overflow:hidden; position:absolute; bottom:30px; right:50%; margin-right:- (1180px/2); width:640px; height:360px; background-color:#fff; }
.main-video__item { width:100%; height:100%; background-color:#000; }
@media (max-width:$tablet-size){ 
  .main-video { position:relative; bottom:auto; right:auto; width:auto; height:0; margin:25px 0; padding-top:56.25%; }
  .main-video__item { position:absolute;top:0;bottom:0;left:0;right:0;}
}
